<div class="modal-header">
    <h3>Ratefast</h3>
</div> 
<div class="modal-body">	
	<div>
		<h4>
			Welcome to RateFast!<br/><br/>This is the first time you have logged into RateFast! Please choose a password for your RateFast account. You will not need to use this password, but it will help us sign you in automatically going forward.
		</h4>
		<br>
	</div>

   <form class="form" name="form" ng-submit="getPassword(user)">
		 	<!-- New Password -->
                    <div class="form-group"><!--ng-hide="message"-->
                        <label for="exampleInputEmail1">Password</label> <a popover="Minimum of 8 characters, with at least one capital letter, special character and number."
                              popover-trigger="mouseenter" class="btn" style="padding: 0px; font-size: 11px; color: red;">Password
                              Rules 
                           </a>

                        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" autocomplete="off" ng-minlength="8"
                           ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-!$^&*()_|~=`{}\[\]:/<>?,.@#]+)[-\w!$^&*()|~=`{}\[\]:/<>?,.@#]+$/"  placeholder="Type your desired password here" autocomplete="off" required>
                 		
                 		<span class="help-block" style="color: red;" ng-show='form.password.$error.pattern'>This password isn't strong enough!</span>
                        <span class="help-block" style="color: red;" ng-show='form.password.$error.minlength'>Password should be of minimum 8 characters.</span>
                        <span class="help-block" style="color: red;" ng-show="form.password.$error.required && submitted">Password Required*</span>
                   </div>


                    <!-- Confirm Password -->
                    <div class="form-group" ng-hide="true" ng-show="form.password.$valid"><!--ng-hide="message"--> 
                        <label for="exampleInputEmail1">Confirm Password</label>
                        <i class="fa fa-envelope"></i>                          
                        <input type="password" name="confirmpassword" id="passwordconf" class="form-control" autocomplete="off" ng-model="user.confirmpassword"
                            ng-minlength="8" oninput="check(this)" placeholder="Type your password again"  required>

						<span style="color: red" ng-show='(form.confirmpassword.$error.minlength || form.confirmpassword.$error.required || user.password!=user.confirmpassword) && form.confirmpassword.$dirty'>Passwords do not match!</span>
                    </div>

                    <div class="col-sm-12 col-sm-offset alert alert-dismissable alert-success text-center" ng-if="message" ng-hide="noreport">{{message}}</div>

                    <div class="form-actions" ng-hide="true" ng-show="form.confirmpassword.$valid && user.password==user.confirmpassword"><!--ng-hide="message"-->
                        <button type="submit" id="submit" class="btn btn-info">Go</button>
                    </div>	
         </form> 
</div>
	<!-- 
		<div class="modal-footer">                                    
		</div> 
	-->
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('The two passwords must match.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
