<div class="modal-header">
    <h3>Ratefast</h3>
</div>
<div class="modal-body">
	<div>
	   <div style="line-height:1.1">
			<h4><p>The password provided was incorrect.</p></h4><br/>
			<h4><p>If you have forgotten your password, you can reset it by going to the <a href="" ng-click="cancel();" style="color:#4592C0">RateFast login screen</a>, and then clicking the "Forgot your Password?" button. Your organization&apos;s RateFast administrator can also reset your password for you.</p></h4><br/>
			<h4><p>If you know your password, then close this browser tab, and try re-opening RateFast from Athena again.</p></h4>
	   </div>
   </div>
</div>

   