<div class="modal-header">
  <h3>Ratefast</h3>
</div>
<div class="modal-body">
	I agree: <br/><br/>

1) No patient identifying information will be entered in ANY RateFast data fields for security purposes. 
<br/><br/>
2) Use of RateFast is at the User's own risk. Alchemy Logic Systems, Inc. disclaims any liability for lost data, malfunctions, or security issues arising from vendors or services along the internet connection or transmission route to the RateFast web site.
</div>
<div class="modal-footer">
  <a type="button" class="btn btn-primary" ng-click="ok()">Agree</a>
  <a type="button" class="btn btn-primary" ng-click="close()">Cancel</a>
</div>