<div class="aboutus">
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2>About Us</h2>
                </div>
            </div>
        </section>
        <div class="section">
        <div class="container">
        <div class="row ">           
            <div class="col-sm-9 ">
               <h3>What We Believe</h3>
                    <p>Moving a work-injury claim through the current system should be a fast and painless process.</p>
                    <p>Unfortunately, injured workers, medical providers, insurance carriers, and employers don't always have a smooth experience when it comes to workers' compensation.</p>

                    <h3>What We Do</h3>
                    <p>We design web applications, mobile applications, and write content that we believe to be valuable for everybody involved in workers' compensation.</p>
                    <p>Whether you're a doctor, a QME, an attorney, or an injured worker, we can help.</p>

                    <h3>About RateFast</h3>
                    <p>RateFast is an online tool for managing workers' compensation claims and calculating impairment ratings.</p>
                    <p>If you're medical provider, an office manager, an insurance adjuster, or an attorney, then we believe that RateFast can speed up your workflow when it comes to work injury claims.</p>
                    <p>To learn more about how RateFast can benefit you, check out our <a href="/">home page</a>, or <a  href="/contact" type="button">contact us</a> .</p>

                    <h3>Who We Are</h3>
            </div>
            <div style="clear: both"></div>
            <hr>
            <!-- <div class="col-sm-offset-modified">  -->
            <div class="">                           
                <div class="col-sm-5 our-team">
                    <img src="/images/staff/john-alchemy.jpg" class="bottom-space-less thumbnail" style="width: 135px; height: 155px;" align="left">
                     <h4>John Alchemy, MD, QME</h4>
                     <p><strong>CEO, Founder</strong></p>
                     <p>As a Qualified Medical Examiner with 20 years of experience treating injured workers, Dr. John Alchemy knows the amount of time and effort that it takes for occupational medicine doctors to do their jobs. Dr. Alchemy designed RateFast to guide users through every step of the workers' compensation process.</p>
                     <br>                     
                      <p style="text-align: right !important;">(707) 111-1234</p>
                      <p style="text-align: right !important;"><a href="mailto:j.alchemy@rate-fast.com">j.alchemy@rate-fast.com</a></p>                   
                </div>
                <div class="col-sm-5 our-team">
                    <img src="/images/staff/chris-hall.jpg" style="width: 135px; height: 155px;" class="bottom-space-less thumbnail" align="left">
                    <h4>Christopher Hall</h4>
                    <p><strong>Head of Sales</strong></p>                  
                    <p>Chris is committed to tailoring RateFast and its services to meet the needs of medical practices large and small, legal practices, risk management departments, and any other organization or individual who can benefit from managing work injury claims and laser accurate impairment ratings. </p>
                    <br>                    
                  	<p style="text-align: right !important;">(707) 484 - 5778.</p>
    				<p style="text-align: right !important;"><a href="mailto:c.hall@rate-fast.com">c.hall@rate-fast.com</a></p>
                </div>
            </div>
            <div style="clear: both;"></div>
            <hr>
          
          <!-- 	<div class="col-sm-offset-modified">   -->
          	<div class="">              
                <br />
                <div class="col-sm-5 our-team">
                    <img src="/images/staff/kumar.jpg" class="bottom-space-less thumbnail" style="width: 135px; height: 155px;" align="left">
                     <h4>Kumar Siddhartha</h4>
                     <p><strong>Chief Technical Officer</strong></p>
                     <p>Kumar brings over 15 years experience in IT management, consulting, and product organization to the RateFast mission. An entrepreneur who grew three businesses from start-ups to profitable organizations through effective business planning, Kumar's special focus lies on corporate strategy and entrepreneurship.</p>
                     <br>                     
                </div>
                <div class="col-sm-5 our-team">
                    <img src="/images/staff/mike.jpg" style="width: 135px; height: 155px;" class="bottom-space-less thumbnail" align="left">
                    <h4>Mike Bongiovanni</h4>
                    <p><strong>VP - Software Development</strong></p>             
                    <p>The former senior director of sales operations at International ERP Sales and a developer of business management applications at Sage Software, Mike is also the founder and principal of LMW Consulting, a software services firm that provides programming, installation, implementation, training and support services to customers across the United States.</p>
                    <br>                                     
                </div>
            </div>
            <div style="clear: both;"></div>
            <hr>
<!--           <div class="col-sm-offset-modified">   -->
            <div class="">              
                <br />
                <div class="col-sm-5 our-team">
                    <img src="/images/staff/jerry-arz.jpg" class="bottom-space-less thumbnail" style="width: 135px; height: 155px;" align="left">
                    <h4>Jerry L. Artz, PhD</h4>
				    <p><strong>Head of Research</strong></p>
				    <p>Dr. Jerry serves as our consultant for probability likelihood of clinical measurement outcomes, as well as reviewing scientific literature and mathematical modeling validity for impairment rating specialists. He has years of research experience, has published numerous articles, served on a congressional committee and been awarded multiple honors in his teaching career. He is currently a Professor in the Department of Physics at Hamline University in St. Paul Minnesota.</p>				                        
                </div>                
            </div>                                      
        </div>
           </div>
        
         </div>
        
    </div>
</div>
