<section ng-init="archivectrl">
    <div class="modal-header">
        <h4>Archive Information</h4>
    </div>
    <div class="modal-body" style="overflow: scroll; height:400px">
        <div class="container">
            <img ng-hide="isLoad" src="/images/ajax-loader-event-list.gif" style="width:100px;position: absolute;top: 50%;left: 50%;" />
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="width: 100%;">
                        <tr>
                             <th>Status</th>
                            <th>Body System</th>
                            <th>Body Part</th>
                            <th>Side</th>
                            <th>Mechanism of injury</th>
                            <th>Updated By</th>
                            <th>Updated Date</th>
                           
                        </tr>
                        <tr ng-repeat="item in data|orderBy : 'status':true">
                             <td>
                                <input type="button" class="btn btn-default" ng-click="changeStatus(item._id)" ng-if="item.status=='archive'" value="Restore" />
                                <input type="button" class="btn btn-info" ng-click="changeStatus(item._id)" ng-if="item.status=='current'" value="Current" />
                            </td>
                            <td>
                                <ul ng-repeat="item1 in item.injuredbodypart">
                                    <li>{{item1.bodysystem}} {{item1.otherBodysystem}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul ng-repeat="item1 in item.injuredbodypart">
                                    <li>{{item1.bodypart.split(':')[2].split(',')[0]}} {{item1.otherBodyparts}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul ng-repeat="item1 in item.injuredbodypart">
                                    <li>{{item1.bodypartsides}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul ng-repeat="item1 in item.injuredbodypart">
                                    <li>{{item1.bodypart_mechanism}}  {{item1.otherbodypart_mechanismshowmodel}}</li>
                                </ul>
                            </td>
                            <td>{{item.updatedby}} </td>
                            <td>{{item.updateddate}} </td>
                           
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</section>
