<div class="contactus">
  <div class="bright">
    <section id="header-title">
    	<div class="section">
	      <div class="container">	        
			<div class="row">	       	 	
				 <div class="col-sm-12">	        			
					<h6 style="font-weight: 600;font-size:2.5em;margin-top: 0px;margin-bottom:10px">
						<span style="font-weight: 800;font-size:1.8em">RateFast </span><br>for Legal Professionals
					</h6>
				 </div>				
	        </div>
	      </div>
      	</div>
    </section>
	<div class="section">
	    <!--Add code here-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 40px; font-weight: 100;font-size:2.7em;">
					<strong>Is the impairment rating of your work injury case accurate?</strong>	
					<div style="margin-top: 40px"></div>
					<strong>Are you sure?</strong>
				</div>
				<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 40px;">
					<img src="/images/attorney1.jpg" style="width:132%" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row" id="header-title" style="margin-top: 20px; margin-bottom: 20px;">
				<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 15px;margin-bottom:15px">
					<img class="img-responsive" style="width:100%" src="/images/attorney2.jpg">
				</div>				
				<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 40px; font-weight: 80;font-size:1.4em;">
					<strong>
						<ul class="ul_tagLine">
							<li>
								<strong>Use RateFast to check the accuracy of QME and PR-4 reports.</strong>								
							</li>
							<li>
								<strong>Your impairment ratings will be reviewed by our impairment rating
										specialists using proprietary algorithms derived from the AMA Guides.</strong>								
							</li>
							<li>
								<strong>No membership fee: pay as you go.</strong>								
							</li>
							<li>
								<strong>Cloud based: no downloads, no installation.</strong>								
							</li>
						</ul>
					</strong>
				</div>				
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row"  style="margin-top: 40px;">
				<div class="col-sm-12 col-md-12 col-xs-12 " style="margin-bottom: 20px;">
					<h1 style="font-size:3.9em; text-align: center;"><strong>How It Works</strong></h1></center>
				</div>
				<div class="col-sm-12 col-md-12 col-xs-12 text-center">
					
					<div style="font-size:1.6em;margin:0 auto;text-align:left">
						<div style="font-size:1.8em; font-weight: bold;">
							<strong >
								If you want to check on the accuracy of an impairment rating that has been given to you for review, then...
							</strong>
						</div>
						<strong>
							<ol class="ol_tagLine">
								<li>
									<strong>Enter the information from the doctor's report into RateFast.</strong>								
								</li>							
								<li>
									<strong>Receive an accurate impairment within 3 business days.</strong>								
								</li>
								<li>
									<strong>Go home early.</strong>								
								</li>
							</ol>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="section">
		<div class="container text-center">
			<div style="margin-top: 30px;margin-bottom:0px" class="row">
					<div class="col-sm-12 col-md-12 col-xs-12" >
						<h1 style="font-size:4em; text-align: center;"><strong>Got questions?</strong></h1></center>
					</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container text-center">			
			<div style="margin-top: 20px;margin-bottom:60px" class="row">
				<div class="col-sm-6 col-md-6 col-xs-12 col-md-push-1" style="text-align: center !important;">
					 <a style="" class="btn btn-default insurance_btn col-md-9 col-xs-12 " href="/contact" type="button">
					 Contact Us</a>
				</div>
				<div class="col-sm-6 col-md-6 col-xs-12 text-center">
					<a style="" class="btn btn-default insurance_btn col-md-9 col-xs-12 text-center" href="/signup" type="button">
					 Try for Free</a>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>


<style>
	.insurance_btn{
		background-color: black;
		font-size: 1.9em;
		color: #FFF;
	 	height: 76px;
	    margin-top: 60px;
	    padding: 0.9em;
	}

	.ol_tagLine li{
	margin-top: 20px;
	}
	
	.ul_tagLine li{
	margin-top: 30px;
	}
	
	.ul_tagLine > :first-child{
	margin-top: 10px;
	}
	
	.ul_tagLine > :last-child {	
	margin-bottom: 30px;
	}
</style>
