<div class="modal-header">
    <h3>Certify Ratings</h3>
</div>
<div class="modal-body">
    <div>
        <div class="login-sign">
            <h3>Selecting "Yes" will allow ratings to publish with a RateFast certification indicating the report has been professionally reviewed and created. If the report is altered (i.e. edited) by the account owner, it is not eligible for certification. Selecting "no" will disable this feature."</h3>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
