<div class="contactus">
  <div class="bright">
    <section id="header-title">
      <div class="container">
        <div class="row">
          <h2>Change User Password</h2>
        </div>
      </div>
    </section>  
     <div class="panel panel-default" style="width: 600px; margin: 0 auto">
      <div class="panel-body"> <!-- data-ng-controller="changeUserPasswordCtrl" -->                         
                <form class="form" name="pwdform" ng-submit="submitPassword(pwdform)">
					<!-- this is to fix firfox issue where browser alerts displays asking user as to which user he needs to change password for. -->
						<input type ="text" name="username" value="" style="display:none">
                    <!-- firefox issue solution ends her -->				
                    <div class="form-group">
                        Current Password                      
                        <input type="password" name="oldpassword" class="form-control" ng-model="oldpassword" required />
                    </div>  
                    
                    <div class="form-group" ng-class="{ 'has-success': pwdform.password.$valid && submitted  }">
                            New Password <a popover="Minimum of 8 characters, with at least one capital letter, special character and number."
		                                popover-trigger="mouseenter" class="btn" style="padding: 0px; font-size: 11px; color: red;">Password
		                                Rules 
		                             </a>
                            <input id="usernewpassword" type="{{inputType}}" class="form-control" ng-minlength="8"
                                ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-!$^&*()_|~=`{}\[\]:/<>?,.@#]+)[-\w!$^&*()|~=`{}\[\]:/<>?,.@#]+$/"  name="password" 
                                ng-model="newpassword" placeholder="Type your desired password here" autocomplete="off" required>
                            <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
							<label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
							<label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                            <span class="help-block" style="color: red;" ng-show='pwdform.password.$error.pattern'>This password isn't strong enough!</span>
                            <span class="help-block" style="color: red;" ng-show='pwdform.password.$error.minlength'>Password should be of minimum 8 characters.</span>
                            <span class="help-block" style="color: red;" ng-show="pwdform.password.$error.required && submitted">Password Required*</span>
                    </div>
                                
                    <div class="form-group">
                            Confirm New Password 
                            <input type="password" class="form-control" name="confirm_password" required ng-model="confirmpassword"
                                ui-validate=" '$value==newpassword' " ui-validate-watch=" 'newpassword' "
                                placeholder="Type your password again" ng-disabled="setConfirmPassword()" autocomplete="off">
                            <span style="color: red" ng-show='pwdform.confirm_password.$error.validator'>Passwords do not match!</span>
                            <span style="color: red" ng-show='newpassword!=confirmpassword && confirmpassword.length>0'>Passwords do not match!</span>
                        </div>
                  
                    <div class="form-actions text-center">                    
                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        <button type="button" id="clear" ng-click="clear()" class="btn btn-primary">Clear</button>
                        <button class="btn btn-default" ng-click="backUserProfile()">Back</button>
                    </div>

                </form>
      		</div>
		</div>
    </div>
</div>
 
<script type="text/javascript">
var banned = ['ratefast','RateFast','Ratefast','RATEFAST','rate-fast','Rate-Fast','Rate-fast','RATE-FAST'];
document.getElementById('usernewpassword').addEventListener('keyup', function(e) {
   var text = document.getElementById('usernewpassword').value;
   for (var x=0;x<banned.length;x++) {
       if (text.search(banned[x]) !== -1) {
           alert('You cannot include the phrase "'+banned[x]+'" in your password!');
       }
       var regExp = new RegExp(banned[x]);
       text = text.replace(regExp,'');
   }
   document.getElementById('usernewpassword').value = text;
},false);
</script>



