<section ng-init="archivectrl">
    <div class="modal-header">
        <h4>Reset This User Password?</h4>
    </div>
    <div class="modal-body">
        <b>{{userdata.firstname | capitalize}} {{userdata.lastname | capitalize}} will receive an email at {{userdata.email}} containing a randomly generated password.
            {{userdata.firstname|capitalize}} will be able to change this password after using it to log into Ratefast.
        </b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Proceed</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>

