<div class="practise">
    <div class="bright">
        <section id="header-title" style="margin-bottom: 0;">
            <div class="container">
                <div class="row">
                    <h2 style="text-align: left;">Completed PR-4 Reports</h2>
                </div>
            </div>
        </section>
        <section ng-if="currentuserrole != 'siteadmin' || fullPractice">
            <div class="container">
                <div class="row">
					<div class="col-sm-12">
						<section style="margin-top:20px;">
							<div class="container">
								<div class="form-horizontal">

									<div ng-if="isLoad">
										<div class="overlayContent">
                                            <img src="/images/spinner.gif" /><span>&nbsp;&nbsp;Loading</span>
                                        </div>
									</div>
									<div ng-if="displayedCollection.length<1 && submited">
									   <div class="alert alert-danger" role="alert">No Record Found!</div>
									</div>
									<div class="row" ng-if="showfirsttable">
											<table ng-if="showfirsttable" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-bordered table-hover table-condensed">
												<thead>
													<tr>
														<th colspan="9">
															<input st-search="" class="form-control" placeholder="Search..." type="text" style="width: 19%" />
														</th>
													</tr>
													<tr>
														<th st-sort="">First Name</th>
														<th st-sort="">Last Name</th>
														<th st-sort="">Date of Injury</th>
														<th st-sort="">Date of Visit</th>
														<th st-sort="">Treating Physician </th>
														<th st-sort="">Report submitted for rating by</th>
														<th st-sort=""> Report Submission Date</th>
														<th st-sort="">Date of completed rating</th>
														<th st-sort="">Report ID</th>
													</tr>
												</thead>
												<tbody ng-controller="injuryCtrl">
													<tr ng-if="nodata">
														<td colspan="5">
															<div class="alert alert-danger" role="alert">No Data!</div>
														</td>
													</tr>
													<tr ng-repeat="row in displayedCollection">
														<td>{{row.data.bginfo.firstname}}</td>
														<td>{{row.data.bginfo.lastname}}</td>
														<td>{{row.data.bginfo.dateofinjury | date:'MM/dd/yyyy'}}</td>
														<td>{{row.data.patientcomplaints.currentexamdate | date:'MM/dd/yyyy'}}</td>
														<td>{{row.data.signDoctor.level4.firstname}} {{row.data.signDoctor.level4.lastname}}</td>
														<td>{{row.submittedBy}}</td>
														<td>{{row.submittedDate | date:'MM/dd/yyyy'}}</td>
														<td>{{row.submittedDateAtLevel2 | date:'MM/dd/yyyy'}}</td>
														<td><a  ng-click="reportConfirmation(row._id, row.patientid, 'existing', row.formtype, row.version, row.formid, row.injuryid)">{{row._id}}</a></td>

													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="9" class="text-center">
															<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="9"></div>
														</td>
													</tr>
												</tfoot>
											</table>
                                        </div>
									</div>
									<br />
									<div class="text-center">
										<div class="label label-success" data-ng-show="$parent.updateStatus">
											<span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;updated!
										</div>

									</div>
								</div>
							</div>
						</section>
					</div>
                </div>
            </div>
        </section>
    </div>
</div>
