<section id="login" class="visible">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="login-box-plain">
                    <h2 class="bigintro">Change Password</h2>
					<h6>Your password must be changed every 90 days</h6>
                    <div class="divide-40"></div>
                    <!--  <form role="form"> -->
                    <form class="form" name="form" ng-submit="changePassword(form)">
						 <!-- New Password -->
                        <div class="form-group" ng-hide="message">
                           Password <a popover="Minimum of 8 characters, with at least one capital letter, special character and number."
		                                popover-trigger="mouseenter" class="btn" style="padding: 0px; font-size: 11px; color: red;">Password
		                                Rules 
		                             </a>

                            <input id="usernewpassword" type="{{inputType}}" name="password" id="password" class="form-control" ng-model="user.password" autocomplete="off" ng-minlength="8"
                               ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-!$^&*()_|~=`{}\[\]:/<>?,.@#]+)[-\w!$^&*()|~=`{}\[\]:/<>?,.@#]+$/"  placeholder="Type your desired password here" autocomplete="off" required>
                     		<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
							<label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
							<label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                     		<span class="help-block" style="color: red;" ng-show='form.password.$error.pattern'>This password isn't strong enough!</span>
                            <span class="help-block" style="color: red;" ng-show='form.password.$error.minlength'>Password should be of minimum 8 characters.</span>
                            <span class="help-block" style="color: red;" ng-show="form.password.$error.required && submitted">Password Required*</span>
                       </div>


                        <!-- Confirm Password -->
                        <div class="form-group" ng-hide="message">
                            <label for="exampleInputEmail1">Confirm Password</label>
                            <i class="fa fa-envelope"></i>                          
                            <input type="password" name="confirmpassword" id="passwordconf" class="form-control" autocomplete="off" ng-model="user.confirmpassword"
                                ng-minlength="8" oninput="check(this)" placeholder="Type your password again" required>

   							<span style="color: red" ng-show='(form.confirmpassword.$error.minlength || form.confirmpassword.$error.required || user.password!=user.confirmpassword) && form.confirmpassword.$dirty'>Passwords do not match!</span>
                        </div>

                        <div class="col-sm-12 col-sm-offset alert alert-dismissable alert-success text-center" ng-if="message" ng-hide="noreport">{{message}}</div>

                        <div class="form-actions" ng-hide="message">
                            <button type="submit" id="submit" class="btn btn-info">Reset</button>
                        </div>	
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('The two passwords must match.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
	
	var banned = ['ratefast','RateFast','Ratefast','RATEFAST','rate-fast','Rate-Fast','Rate-fast','RATE-FAST'];
document.getElementById('usernewpassword').addEventListener('keyup', function(e) {
   var text = document.getElementById('usernewpassword').value;
   for (var x=0;x<banned.length;x++) {
       if (text.search(banned[x]) !== -1) {
           alert('You cannot include the phrase "'+banned[x]+'" in your password!');
       }
       var regExp = new RegExp(banned[x]);
       text = text.replace(regExp,'');
   }
   document.getElementById('usernewpassword').value = text;
},false);
	
</script>


