<div>
    <div class="modal-header">
        <br />
        <h3>Ratefast</h3>
    </div>
    <a ng-click="cancel()"><span class="glyphicon glyphicon-remove " style="float: right; margin: 20px 20px 0 0; color: #FFFAFA;"></span></a>
    <div class="modal-body">
        <div class="login-sign">
            <h3>You are about to change the pricing for all Practice Accounts that have the default pricing type.</h3>
            <h3>The new prices will apply to all new Practice Accounts.</h3>
            <h3>The new prices will <em>not</em> apply to all Practice Accounts that have custom pricing.</h3>
            <h3>Are you sure you want to proceed?</h3>
        </div>

    </div>
    <div class="modal-footer">
        <div style="float: right">
            <button ng-click="yes()" class="btn btn-info">Yes</button>
			<button ng-click="no()" class="btn btn-warning">No</button>
        </div>
    </div>
</div>
