<div class="contactus">
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <!--<div class="col-sm-10 col-sm-offset-modified">
          		<h1>Contact Us</h1>
        	</div>-->
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="blurb">
                        <div class="panel">
                            <div class="text-center">
                                <h3>Map</h3>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="controls">
                                    <!-- <img src="../img/ratefast/sample_map.jpg" alt="map"> -->

                                    <iframe class="col-sm-12" height="335" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2360+Mendocino+Ave,+Santa+Rosa,+CA,+United+States&amp;aq=0&amp;oq=2360+Mendocino+Ave+Santa+Rosa&amp;sll=37.0625,-95.677068&amp;sspn=42.174768,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=2360+Mendocino+Ave,+Santa+Rosa,+California+95403&amp;ll=38.463684,-122.718071&amp;spn=0.001285,0.002642&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                    <br />
                                    <small>
                                        <a style="text-decoration: none; font-family: arial; font-size: 14px; color: #fff;" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2360+Mendocino+Ave,+Santa+Rosa,+CA,+United+States&amp;aq=0&amp;oq=2360+Mendocino+Ave+Santa+Rosa&amp;sll=37.0625,-95.677068&amp;sspn=42.174768,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=2360+Mendocino+Ave,+Santa+Rosa,+California+95403&amp;ll=38.463684,-122.718071&amp;spn=0.001285,0.002642&amp;t=m&amp;z=14">View Larger Map</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!-- @shridhar : start update contact details -->
                
                <div class="col-sm-6 col-md-offset-1">
                	 <div class="blurb">
                        <div style="-webkit-box-shadow: none;" class="headingBold panel">
                            <div>
                                <h2><b>Have a question about RateFast?</b></h2>
                            </div>
                            <hr />
	                         <br/>
	                             <div>
	                             	<span>Contact us by email or telephone.</span>
	                             </div>
	                         
	                             <div>
		                             <span>
		                             	<a href="mailto:info@rate-fast.com" class="contact-mail"><i class="icon-envelope icon-large"></i>
		                                    info@rate-fast.com</a>
		                                 <span style="padding-left: 30px">707.304.5949</span>
	                                 </span>   
	                             </div>
	                         
	                             <div style="margin-top: 30px;">
	                             	<span>
	                             		Also, check out the <a href="http://blog.rate-fast.com/faq/" target="_blank">FAQ page</a> and the  
	                             		<a href="http://blog.rate-fast.com/category/how-to-use-ratefast/" target="_blank">How to Use RateFast section</a>
	                             		 of <a href="http://blog.rate-fast.com/" target="_blank"> the RateFast Blog.</a>
	                             	</span>
	                             </div>
	                             
	                             <div style="margin-top: 30px;">
	                             	<span>
		                             			Alchemy Logic Systems, Inc. dba RateFast
										<br/>	2360 Mendocino Ave
										<br/>   Ste A2-325
										<br/>	Santa Rosa, California 95403
	                             	</span>
	                             </div>
	                             	     
	                              <div style="margin-top: 30px; text-align: left;">
	                             	<span>
		                          	<a href="https://www.facebook.com/RateFastCalifornia/" target="_blank"> <img style="height:50px;"alt="" src="/images/facebook.png"></a>	
		                          	<a href="https://www.linkedin.com/in/johnalchemy" target="_blank"> <img style="height:50px;"alt="" src="/images/linkedin.png"></a>	
		                          	<a href="https://twitter.com/RateFast" target="_blank"> <img style="height:50px;"alt="" src="/images/twitter.png"></a>	
	                             	</span>
	                             </div>    
	                             	                             
                        	</div>
                     </div>                            
                </div>
                
                <!-- @shridhar : end update contact details -->
                
                
<!--                 <div class="col-sm-4 col-sm-offset-1"> -->
<!--                     <div class="blurb"> -->
<!--                         <div class="panel" style="-webkit-box-shadow: none;"> -->
<!--                             <div class="text-center"> -->
<!--                                 <h3>Details</h3> -->
<!--                             </div> -->
<!--                             <hr /> -->
<!--                             <div> -->
<!--                                 <address class="pull-left"> -->
<!--                                     <strong>Alchemy Logic Systems, Inc.</strong><br> -->
<!--                                     2360 Mendocino Ave Santa Rosa, -->
<!--                                 <br> -->
<!--                                     California 95403-3153<br> -->
<!--                                     USA<br> -->
<!--                                 </address> -->
<!--                                 <address class="pull-right" style="padding-top: 0px;"> -->
<!--                                     <strong>www.rate-fast.com</strong><br> -->
<!--                                     <a href="mailto:info@rate-fast.com" class="contact-mail"> -->
<!--                                         <i class="icon-envelope icon-large"></i> -->
<!--                                     info@rate-fast.com</a> -->
	          			
<!--                                 </address> -->
<!--                             </div> -->
<!--                             <div style="clear: both"></div> -->
<!--                             <div> -->
<!--                                 <div class="text-center"> -->
<!--                                     <h3>Sales and Marketing </h3> -->

<!--                                     <hr /> -->
<!--                                     <div> -->
<!--                                         <address> -->
<!--                                             <span class="glyphicon glyphicon-earphone"></span> -->
<!--                                             (9AM-5PM PST): 707.304.5949<br /> -->
<!--                                         </address> -->
<!--                                         <div style="clear: both;"></div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <br /> -->
<!--                                 <div class="text-center"> -->
<!--                                     <h3>Free Technical Support </h3> -->
<!--                                     <hr /> -->
<!--                                     <div> -->
<!--                                         <address> -->
<!--                                             <span class="glyphicon glyphicon-earphone"></span> -->
<!--                                             (9AM-5PM PST): 707.304.5949<br /> -->
<!--                                         </address> -->
<!--                                         <div style="clear: both;"></div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
                
                
                
                
			</div>
        </div>
    </div>
</div>

<style>
	.headingBold span
	{
		font-weight: bold;
		font-size: 18px;
	}
</style>
