    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2 style="text-align: left;">Doctor's First 5021</h2>
                </div>
            </div>
        </section>
        <div class="row">
        	<div class="col-sm-10 col-md-offset-1">
        		<hr>
				<p>A Doctor's First Report (Form 5021) is first injury summary report that is required by the Division of California Workers' Compensation when a worker's compensation claim presents to the medical provider's office. This report is critical to the filing of the claim, as it must accurately describe the mechanism of injury, physical exam findings, diagnosis, and treatment plan. Furthermore, this report contains the provider's opinion on work relatedness "causation". It is here that the report has to outline in detail the duration of treatment and recovery time, and also clearly state any functional work restrictions for the injured worker to return to work.</p>
				<p>The difference between a well written and poorly written California Workers' Compensation Doctor's First Report of Occupational Injury of Illness insures a smoothly managed claim.</p>
				<p>RateFast (Doctor's First 5021) removes all the traditional barriers that have frustrated the industry. Formatting the PR2 is now fast, fun and easy with our online program that actually formats the report as you work with the injured worker in the exam room. Report information is gathered using a simple, systematic and easy to use data collection method in the exam room with a hand held mobile device, such as the iPad. The history and exam findings are securely entered and submitted at the time of the patient visit. Reports submitted on RateFast (Doctor's First 5021) are instantly organized and immediately available for download when submitted.</p>
				<p>Spend more time with patients, not your reports.</p>
				<p><a href="readmorefirst/#" id="dfirst" onclick="set_report('PR1')">Click here </a>
				to start writing accurate, complete, and efficient California Workers' Compensation Doctor's First Report of Occupational Injury of Illness Form 5021 reports now to get a FREE TRIAL REPORT. Find out what a growing group of California workers' compensation medical providers already know! </p>
			</div>
		</div>
	</div>
						