<style type="text/css">
	.panel
	{
		margin-bottom:0px;
	}
</style>
<div class="faq">
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!--<div class="accordion" id="myAccordion">
                        <div class="panel">                            
							<div class="btn btn-success" style="cursor:text">What is RateFast?</div>
                            <div class="alert alert-success">
                                <p>RateFast is a web application for writing California workers’ compensation reports and calculating impairment ratings.</p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="btn btn-success" style="cursor:text">Who benefits from RateFast?</div>
                            <div class="alert alert-success">
                                <p>If you’re a California medical provider and you handle work-related injuries (or if you would like to start), then RateFast can revolutionize the workflow in your practice.</p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="btn btn-success" style="cursor:text">My practice uses an EMR. Why do I need RateFast?</div>
                            <div class="alert alert-success">
                                <p>First of all, RateFast isn’t an EMR, it’s more of an add-on or an extension. It’s a tool for writing work-comp reports and calculating impairment ratings. It could connect with your EMR software, but it should never replace it.</p>
								<p>RateFast supplements your EMR, which has probably not been designed to guide users through a workers’ compensation interview and exam. If you try to write a truly complete work-comp visit note (such as a Doctor’s First report, PR-2 report, or PR-4 report) using an EMR, then we guarantee you’ll miss some crucial questions that will ultimately result in an incorrect impairment rating for the work injury.</p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="btn btn-success" style="cursor:text">I use dictation software. How is RateFast different?</div>
                            <div class="alert alert-success">
                                <p>While you can use dictation services such as Google Voice or Siri to complete work comp reports in RateFast, RateFast is a completely different product than a dictation program. RateFast guides you through all the necessary aspects of a Doctor’s First, PR-2 or PR-4 report. With RateFast, you write the report as the visit unfolds in the exam room. When the patient leaves the room, so does the report. RateFast is less down time, more uptime. Dictation means doing work twice. RateFast means doing work once.</p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="btn btn-success" style="cursor:text">What do I need to run RateFast?</div>
                            <div class="alert alert-success">
                                <p>The short answer: a device with an internet connection and a web browser. No downloads or installations required. Just make a free account on <a href="https://rate-fast.com/signup" target="_blank">rate-fast.com/signup</a> and start reporting. <a href="http://blog.rate-fast.com/wp-content/uploads/2016/02/RateFast_System_Requirements.pdf" target="_blank">Click here for the long answer regarding RateFast’s system requirements.</a></p>
                            </div>
                        </div>
						<div class="panel">
                            <div class="btn btn-success" style="cursor:text">I’ve already got my own process for completing workers’ compensation reports. Can RateFast help me?</div>
                            <div class="alert alert-success">
                                <p>Yes. Even if you’re a workers’ compensation expert, RateFast can save you hours of time. RateFast members effectively enjoy an increased hourly rate by letting RateFast crunch the numbers and calculate the whole person impairment rating. Just submit your PR-4 report for rating after you’ve finished entering all the exam data and go home early. You’ll be alerted via email when your report has been rated. All ratings are fully justifiable, and include references to every relevant section of the AMA Guides.</p>
                            </div>
                        </div>
						<div class="panel">
                            <div class="btn btn-success" style="cursor:text">I’m an attorney or a claims adjuster. Can I use RateFast check the accuracy of a medical provider’s impairment rating?</div>
                            <div class="alert alert-success">
                                <p>Yes. RateFast can be used to check rating reports for completeness, accuracy, and detail. Attorneys and administrative professionals should know exactly what information is missing from the report they are reviewing. If you’re an attorney or an insurance carrier and you’d like to know how RateFast can help you review the accuracy of an impairment rating, <a href="mailto:info@rate-fast.com">send us an email</a> or give us a call at 707.304.5949.</p>
                            </div>
                        </div>
						<div class="panel">
                            <div class="btn btn-success" style="cursor:text">How long does it take for RateFast to give me my impairment rating?</div>
                            <div class="alert alert-success">
                                <p>Two business days or less. Reports are securely returned to you online, complete with an impairment rating calculated in total accordance with the AMA Guides. Our ratings include references and citations to relevant chapters and pages, as well as comments to aid the reader in understanding.</p>
                            </div>
                        </div>
						<div class="panel">
                            <div class="btn btn-success" style="cursor:text">My clinic doesn’t do many workers’ compensation reports. Should we still use RateFast?</div>
                            <div class="alert alert-success">
                                <p>Whether you’re submitting one Doctor’s First report a month or twenty PR-2 reports a day, you can benefit from RateFast. The service is pay-as-you-use, so your clinic doesn’t risk racking up unnecessary bills.</p>
								<p>You might be just starting workers’ comp or you might be a seasoned pro—either way, RateFast saves you time, and no practice has time to waste.</p>
                            </div>
                        </div>
                    </div>-->
					<div>
                        <div class="panel">                            
							<h3>What is RateFast?</h3>                           
                               <p>RateFast is a web application for writing California workers’ compensation reports and calculating impairment ratings.</p>
                        </div>
                        <div class="panel">
                            <h3>Who benefits from RateFast?</h3>
                            <div>
                                <p>If you’re a California medical provider and you handle work-related injuries (or if you would like to start), then RateFast can revolutionize the workflow in your practice.</p>
                            </div>
                        </div>
                        <div class="panel">
                            <h3>My practice uses an EMR. Why do I need RateFast?</h3>
                            <div>                                
								<p>RateFast supplements your EMR. Unlike EMRs, RateFast is designed to guide you through a workers' compensation interview and exam. It includes crucial questions which impact the impairment rating, often left out by EMRs.</p>
                            </div>
                        </div>
                        <!--<div class="panel">
                            <h3>I use dictation software. How is RateFast different?</h3>
                            <div>
                                <p>While you can use dictation services such as Google Voice or Siri to complete work comp reports in RateFast, RateFast is a completely different product than a dictation program. RateFast guides you through all the necessary aspects of a Doctor’s First, PR-2 or PR-4 report. With RateFast, you write the report as the visit unfolds in the exam room. When the patient leaves the room, so does the report. RateFast is less down time, more uptime. Dictation means doing work twice. RateFast means doing work once.</p>
                            </div>
                        </div>-->
                        <div class="panel">
                            <h3>What do I need to run RateFast?</h3>
                            <div>
                                <p>The short answer: a device with an internet connection and a web browser. No downloads or installations required. Just make a free account on <a href="https://rate-fast.com/signup" target="_blank">rate-fast.com/signup</a> and start reporting. <a href="http://blog.rate-fast.com/wp-content/uploads/2016/02/RateFast_System_Requirements.pdf" target="_blank">Click here for the long answer regarding RateFast’s system requirements.</a></p>
                            </div>
                        </div>
						<div class="panel">
                            <h3>I’ve already got my own process for completing workers’ compensation reports. Can RateFast help me?</h3>
                            <div>
                                <p>Yes. Even if you’re a workers’ compensation expert, RateFast can save you hours of time. RateFast members effectively enjoy an increased hourly rate by letting RateFast crunch the numbers and calculate the whole person impairment rating. Just submit your PR-4 report for rating after you’ve finished entering all the exam data and go home early. You’ll be alerted via email when your report has been rated. All ratings are fully justifiable, and include references to every relevant section of the AMA Guides.</p>
                            </div>
                        </div>
						<div class="panel">
                            <h3>I’m an attorney or a claims adjuster. Can I use RateFast check the accuracy of a medical provider’s impairment rating?</h3>
                            <div>
                                <p>Yes. RateFast can be used to check reports and impairment ratings for completeness, accuracy, and detail. Attorneys and administrative professionals should know exactly what information is missing from the report they are reviewing. If you’re an attorney or an insurance carrier and you’d like to know how RateFast can help you review the accuracy of an impairment rating, <a href="mailto:info@rate-fast.com">send us an email</a> or give us a call at 707.304.5949.</p>
                            </div>
                        </div>
						<div class="panel">
                            <h3>How long does it take for RateFast to give me my impairment rating?</h3>
                            <div>
                                <p>Two business days or less. Reports are securely returned to you online, complete with an impairment rating calculated in total accordance with the AMA Guides. Our ratings include references and citations to relevant chapters and pages, as well as comments to aid the reader in understanding.</p>
                            </div>
                        </div>
						<div class="panel">
                            <h3>My clinic doesn’t do many workers’ compensation reports. Should we still use RateFast?</h3>
                            <div>
                                <p>Whether you’re submitting one Doctor’s First report a month or twenty PR-2 reports a day, you can benefit from RateFast. The service is pay-as-you-use, so your clinic doesn’t risk racking up unnecessary bills.</p>
								<p>You might be just starting workers’ comp or you might be a seasoned pro—either way, RateFast saves you time, and no practice has time to waste.</p>
                            </div>
                        </div>
                    </div>
                    <div id="push"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#collapsible-1').addClass("in");
    });
</script>
