<div class="modal-header">
    <h3 ng-if="forgotuser">Forgot your Username?</h3>
    <h3 ng-if="forgotpass">Forgot your Password?</h3>
</div>
<div class="modal-body">
    <alert ng-show="showAlert" type="danger">{{message}}</alert>
    <!-- Practice Name -->
    <div ng-form="forgotcredentialForm">
        <div class="form-group" ng-class="{ 'has-success': forgotcredentialForm.pnameId.$valid && submitted,
                                                    'has-error': forgotcredentialForm.pnameId.$invalid && submitted }">
            <label for="pnameId">Practice Name</label>
            <input type="text" name="pnameId" class="form-control" ng-model="user.practicename" required lowercase />

            <p class="help-block" ng-show="forgotcredentialForm.pnameId.$error.required && submitted">
                Practice Name is required.
            </p>
        </div>
        <!-- Email Id    -->
        <div class="form-group" ng-class="{ 'has-success': forgotcredentialForm.emailId.$valid && submitted,
                                                    'has-error': forgotcredentialForm.emailId.$invalid && submitted }">
            <label for="emailId">Email</label>
            <input type="email" name="emailId" class="form-control" ng-model="user.email" ng-blur="getsecurityQuestion(user.email)" required>

            <p class="help-block" ng-show="forgotcredentialForm.emailId.$error.required && submitted">
                Email is required.
            </p>
            <p class="help-block" style="color:#a94442" ng-show="isEmailpresent">
                Email does not Exist!
            </p>
        </div>
        <!-- User Name -->
        <div ng-if="forgotpass" class="form-group" ng-class="{ 'has-success': forgotcredentialForm.username.$valid && submitted,
                                                    'has-error': forgotcredentialForm.username.$invalid && submitted }">
            <label for="username">Username</label>
            <input type="text" name='username' class="form-control" ng-model='user.username' required lowercase />

            <p class="help-block" ng-show="forgotcredentialForm.username.$error.required && submitted">
                Username is required.
            </p>
        </div>
        <!-- Password -->
        <div ng-if="forgotuser" class="form-group" ng-class="{ 'has-success': forgotcredentialForm.passwordId.$valid && submitted,
                                                    'has-error': forgotcredentialForm.passwordId.$invalid && submitted }">
            <label for="passwordId">Password</label>
            <input type="password" name="passwordId" class="form-control" ng-model="user.password" required>

            <p class="help-block" ng-show="forgotcredentialForm.passwordId.$error.required && submitted">
                Password is required.
            </p>
        </div>
        <!-- Security Question -->
        <div class="form-group" ng-class="{ 'has-success': forgotcredentialForm.security_question.$valid && submitted,
                                                    'has-error': forgotcredentialForm.security_question.$invalid && submitted }">
            <label for="security_question">Security Question</label>

            <input type="text" class="form-control" ng-disabled="true" ng-model="user.securityquestiontext" name="security_question" required />


            <p class="help-block" ng-show="forgotcredentialForm.security_question.$error.required && submitted">
                Security Question is required.
            </p>
        </div>
        <!-- Answer -->
        <div class="form-group" ng-class="{ 'has-success': forgotcredentialForm.answer.$valid && submitted,
                                                    'has-error': forgotcredentialForm.answer.$invalid && submitted }">
            <label for="answer">Your Answer</label>
            <input type="text" name="answer" ng-disabled="!user.securityquestiontext" class="form-control" ng-model="user.answer" required>

            <p class="help-block" ng-show="forgotcredentialForm.answer.$error.required && submitted">
                Your Answer is required.
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(forgotcredentialForm)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>




