<div class="modal-header">
    <h3>Forgot your Practice!</h3>
</div>
<div class="modal-body">
    If you have forgotten the name of your practice, then please contact your Practice Manager.
    <br />
    If you are Practice Manager, and you have forgotten the name of your Practice, then please contact the RateFast help desk.
    <br />
    <br />
    Email: info@rate-fast.com
    <br />
    Sales, marketing and free support: 707.304.5949
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>

