<div class="contactus">
  <div class="bright">
		<section id="header-title">
		  <div class="section">
			  <div class="container">	        
				<div class="row">	       	 	
					 <div class="col-sm-12">	        			
						<h6 style="font-weight: 600;font-size:2.5em;margin-top: 0px;margin-bottom:10px">
							<span style="font-weight: 800;font-size:1.8em">RateFast </span><br>For Insurance Carriers, Self-Insured Organizations, Third-Party Administrators, and Other Payors
						</h6>
					 </div>				
				</div>
			  </div>
		  </div>
		</section>
		<div class="section">
			<!--Add code here-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 40px">					
						<div class="row">
							<div class="col-sm-12 col-md-12 col-xs-12" style="font-size:1.4em">
								<span style="font-size:1.5em; font-weight: bold">Settle Claims Quickly</span>
								<div>RateFast helps payors bring claims to a fair resolution.</div>						
							</div>
						</div>	
						<div class="row" style="margin-top: 80px">
							&nbsp;
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-xs-12" style="font-size:1.4em">			
								<span style="font-size:1.5em; font-weight: bold">National and Adaptable</span>
								<div>Solutions can meet the legal requirements and impairment rating guidelines in any state.</div>
							</div>
						</div>	
					</div>	
					<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 40px;">
						<img src="/images/blue-map-of-united-states-ratefast.png" style="width:132%" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<!--<div class="section">
			<!--Add code here
			<div class="container">
				<div class="row" id="header-title" style="margin-top: 20px; margin-bottom: 20px;">
					<div class="container">
						<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 15px;margin-bottom:15px">
							<img class="img-responsive" style="width:109%" src="/images/insurance2.jpg">
						</div>					
						<div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: 40px; font-weight: 80;font-size:1.4em;">
							<strong>
								<ul class="ul_tagLine">
									<li>
										<strong>Use RateFast to check the accuracy of QME and PR-4 reports.</strong>								
									</li>
									<li>
										<strong>Your impairment ratings will be reviewed by our impairment rating
												specialists using proprietary algorithms derived from the AMA Guides.</strong>								
									</li>
									<li>
										<strong>No membership fee: pay as you go.</strong>								
									</li>
									<li>
										<strong>Cloud based: no downloads, no installation.</strong>								
									</li>
								</ul>
							</strong>
						</div>				
					</div>
				</div>
			</div>
		</div>-->
		<div class="section">
			<!--Add code here-->
			<div class="container">
				<div class="row"  style="margin-top: 40px;">
						<div class="col-sm-12 col-md-12 col-xs-12" style="margin-bottom: 20px;">
							<h1 style="font-size:3.9em; text-align: center;"><strong>A Full Suite of Tools for Payors</strong></h1></center>
						</div>
						<div class="col-sm-12 col-md-12  col-xs-12 text-center">						
							<div class="row">
								<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
									<img src="/images/icon_lightning.png" class="img-responsive">
								</div>
								<div class="col-sm-11" style="font-size:1.4em;margin:0 auto;text-align:left">
									<div>
										<span style="font-size:1.5em; font-weight: bold">
											<strong>
												RateFast MMI Calculator
											</strong>
										</span>
										<div>The MMI Calculator moves claims forward by quickly determining whether or not an injury has reached Maximum Medical Improvement, and then recommending the next step.</div>
									</div>							
								</div>
								
							</div>
					</div>
				</div>
				<div class="row"  style="margin-top: 40px;">					
						<div class="col-sm-12 col-md-12  col-xs-12 text-center">						
							<div class="row">
								<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
									<img src="/images/icon_arrow.png" class="img-responsive">
								</div>
								<div class="col-sm-11" style="font-size:1.4em;margin:0 auto;text-align:left">
									<div>
										<span style="font-size:1.5em; font-weight: bold">
											<strong >
												RateFast Reporting Software
											</strong>
										</span>
										<div>The RateFast web application guides providers through workers’ comp exams, manages treatment authorization requests, prints perfectly formatted reports, and includes an in-built impairment rating feature. RateFast integrates with providers’ EHRs.</div>
									</div>							
								</div>
							</div>		
						</div>
				</div>
				<div class="row"  style="margin-top: 40px;">					
					<div class="col-sm-12 col-md-12  col-xs-12 text-center">						
						<div class="row">
							<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
								<img src="/images/icon_check.png" class="img-responsive">
							</div>
							<div class="col-sm-11" style="font-size:1.4em;margin:0 auto;text-align:left">
								<div>
									<span style="font-size:1.5em; font-weight: bold">
										<strong >
											Impairment Rating Calculation Service
										</strong>
									</span>
									<div>Have a claim that won’t close? Send the documentation to RateFast. Within three business days, your organization will receive an objective impairment rating based on the reports, or a letter advising why the claim cannot currently be rated.</div>
								</div>							
							</div>
						</div>																				
					</div>				
				</div>
				<div class="row"  style="margin-top: 40px;">					
					<div class="col-sm-12 col-md-12  col-xs-12 text-center">						
						<div class="row">
							<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
								<img src="/images/icon_key.png" class="img-responsive">
							</div>
							<div class="col-sm-11" style="font-size:1.4em;margin:0 auto;text-align:left">
								<div>
									<span style="font-size:1.5em; font-weight: bold">
										<strong>
											Impairment Rating Validation Service
										</strong>
									</span>
									<div>Not sure if an impairment rating is accurate? Send the impairment report to RateFast. Within three business days, your will organization receives a report on the accuracy of the impairment rating.</div>
								</div>							
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container text-center">
				<div style="margin-top: 50px;margin-bottom:10px" class="row">
					<div class="col-sm-12 col-md-12 col-xs-12" >
						<center><h1 style="font-size:4em; text-align: center;"><strong>Tell Us How We Can Help</strong></h1></center>
					</div>					
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div style="margin-top: 50px;margin-bottom:10px" class="row">					
					<div class="col-sm-12 col-md-12 col-xs-12" >
						<span style="font-size:2.5em;">Call <a href="callto:707.304.5949">707.304.5949</a> to learn how we can decrease costs for your organization.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container text-center">
				<div style="margin-top: 30px;margin-bottom:20px" class="row">				
					<div class="col-sm-3">&nbsp;</div>
					<div class="col-sm-6 col-md-6 col-xs-12">
						<center><a class="btn btn-default insurance_btn  col-md-9 col-xs-12" href="/contact" type="button">
						 Contact Us</a></center>
					</div>	
					<div class="col-sm-3">&nbsp;</div>				
				</div>
			</div>
		</div>	
	</div>
</div>


<style>
	.insurance_btn{
	background-color: #000;
	font-size: 1.9em;
	color: #FFF;
	 height: 76px;
	    margin-top: 60px;
	    padding: 0.9em;
	}

	.ol_tagLine li{
	margin-top: 20px;
	font-size:19px;
	}
	
	.ul_tagLine li{
	margin-top: 30px;
	}
	
	.ul_tagLine > :first-child{
	margin-top: 10px;
	}
	
	.ul_tagLine > :last-child {	
	margin-bottom: 30px;
	}
</style>
