<div class="contactus">
  <div class="bright">
    <section id="header-title">
      <div class="container">
        <div class="row">
          <h2>Join Today</h2>
        </div>
      </div>
    </section>

    <div class="panel panel-default" style="width: 640px; margin: 0 auto">
      <div class="panel-body">


    <!--Add code here-->
    <div id="boxservices2" >
      <div class="slider">
        <h4>RateFast helps you complete California workers' compensation reports</h4>
        <hr>
        </br>
        <p></p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/g7tj6qBjGpc?rel=0" frameborder="0" allowfullscreen=""></iframe></center><p></p>
        <p></p>
        </br>
        <center>
          <h5><strong>Find out how you can benefit from RateFast!</strong></h5>
        </center>
        <hr>
        <ul style="list-style-type: disc; padding-left: 50px; font-weight: bold; line-height: 20px">
          <li>Write, download, and print Doctor's First, PR-2, and PR-4 reports.
          </li><li>Receive bulletproof impairment ratings calculated according to the AMA Guides.</li>
          <li>Designed for medical providers, claims adjusters, and attorneys who are involved in occupational medicine.</li>
        </ul>
        </br>
        <div >
          <div class="row">
            <a  href="/contact" class="btn btn-md btn-primary pull-left col-md-offset-2" style="width: 150px">Learn More &raquo;</a>

            <a href="/signup" id="startpr4" class="btn btn-md btn-primary pull-right" style="margin-right: 100px; width: 150px">Start Today &raquo;</a>
          </div>
        </div>
      </div>
    </div>

      </div>
    </div>

  </div>
</div>
