<div class="learn">
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2>Learn</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="blurb">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h4 class="titles"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;Meet RateFast</h4>
                            </div>
                            <div class="panel-content">
                                RateFast was created by a network of doctors with years of treating patients in the California Workers' Compensation system. We have a hands on treating background drawn from a wide diversity of specialties. We found a great variance of measurement reporting, documentation, accuracy and ratability in PR-4 reports. We knew there had to be a better way. Treating doctors need a simple, easy and fun system. We designed this system to meet those needs.		               
                            </div>
                            <hr />
                            <div class="text-center">
                                <h4 class="titles"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Video</h4>
                            </div>
                            <hr />
                            <ul>
                                <li><a href="http://www.youtube.com/watch?v=R2vVlQ9op7w&list=PLA-TRV__8aDj1-iti0BdLFfZZtyKdas-H" target="_Blank">Why RateFast?</a></li>
                                <li><a href="http://www.youtube.com/watch?v=AhdFIXTaClI&list=PLA-TRV__8aDj1-iti0BdLFfZZtyKdas-H" target="_Blank">RateFast Benefits</a></li>
                                <li><a href="http://www.youtube.com/watch?v=AxAboPT2JeM&list=PLA-TRV__8aDj1-iti0BdLFfZZtyKdas-H" target="_Blank">Impairment Rating on Demand</a></li>
                                <li><a href="http://www.youtube.com/watch?v=TCGcE55GJeU&list=PLA-TRV__8aDj1-iti0BdLFfZZtyKdas-H" target="_Blank">Report, Rate, Relax</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blurb">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h4 class="titles"><span class="glyphicon glyphicon-road"></span>&nbsp;Train</h4>
                            </div>
                            <div class="panel-content">
                                RateFast is designed to make every process of worker's compensation reports more simple and intuitive. Our focus is on getting an accurate, reproducible impairment rating, every time. So using RateFast is easy because it is software specifically designed to guide you through the correct steps for rating impairment. You can use RateFast on any mobile device, personal computer, and from most major browsers. We have a free help desk line and a videos series to help you get started.
                            </div>
                            <hr />
                            <div class="text-center">
                                <h4 class="titles"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Video</h4>
                            </div>
                            <hr />
                            <ul>
                                <li><a href="http://www.youtube.com/watch?v=ogBh-JL19Us&list=PLA-TRV__8aDj71BbmVQDQfKBlNRljOi1O&index=1" target="_Blank">Creating A New Account</a></li>
                                <li><a href="http://www.youtube.com/watch?v=wj4v8uL2j5k&list=PLA-TRV__8aDj71BbmVQDQfKBlNRljOi1O&index=2" target="_Blank">Logging In</a></li>
                                <li><a href="http://www.youtube.com/watch?v=t3YFBdYY5hA&list=PLA-TRV__8aDj71BbmVQDQfKBlNRljOi1O&index=3" target="_Blank">Creating A New Report</a></li>
                                <li><a href="http://www.youtube.com/watch?v=Stwf3H4F4U8&list=PLA-TRV__8aDj71BbmVQDQfKBlNRljOi1O&index=4" target="_Blank">Searching Reports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blurb">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h4 class="titles"><span class="glyphicon glyphicon-pencil"></span>&nbsp;iPad Tips</h4>
                            </div>
                            <div class="panel-content">
                                New to iPad? Don't worry. The RateFast help desk is here! Just click on the video at the bottom of this panel to get started. Additionally, you may call our help line at (707) 304-5949, and we will happily aid you with your problems or questions. RateFast was designed for use on the iPad, so if you're experiencing trouble please do not hesitate to check out our video library or call our help desk.                           
                            </div>
                            <hr />
                            <div class="text-center">
                                <h4 class="titles"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Video</h4>
                            </div>
                            <hr />
                            <ul>
                                <li><a href="http://www.youtube.com/watch?v=s43hayDwql0&list=PLA-TRV__8aDgDToi0Fvmt1166pdX5DFDw&index=3" target="_Blank">iPad Basics</a></li>
                                <li><a href="http://www.youtube.com/watch?v=Flufb_qZmDc&list=PLA-TRV__8aDgDToi0Fvmt1166pdX5DFDw&index=2" target="_Blank">Managing Apps</a></li>
                                <li><a href="http://www.youtube.com/watch?v=hAoaanfRAr0&list=PLA-TRV__8aDgDToi0Fvmt1166pdX5DFDw&index=1" target="_Blank">Voice Dictation</a></li>
                                <li><a href="http://www.youtube.com/watch?v=tiwmieo0p40&list=PLA-TRV__8aDgDToi0Fvmt1166pdX5DFDw&index=5" target="_Blank">Keyboard Shortcuts</a></li>
                                <li><a href="http://www.youtube.com/watch?v=JUBg9ncJFr0&list=PLA-TRV__8aDgDToi0Fvmt1166pdX5DFDw&index=4" target="_Blank">Typing Timesavers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
