<section id="login" class="visible">
    <div id="divLogin" class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-3">
                <div class="login-box-plain">
                    <div class="login-sign text-center">
                        <h3>Login with your account</h3>
                        <a><span class="glyphicon glyphicon-user"></span></a>
                    </div>
                <div class="divide-40"></div>
                <!--  <form role="form"> -->
                <form class="form" id="form" name="form" ng-submit="login(form)">

				<div id="msgDisplay"></div>
				
				
				
                    <!-- Practice Name -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Practice Name</label>
                        <i class="fa fa-envelope"></i>

                        <input type="text" id="pname" name="pname" class="form-control" ng-model="user.pname" required lowercase />
                    </div>
                    <div class="login-helpers">
                        <a ng-click="open('forgotPractice')">Forgot your Practice Name?</a>
                    </div>

                    <!-- User Name -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <i class="fa fa-envelope"></i>
                        <!-- <input type="email" class="form-control" id="exampleInputEmail1"> -->
                        <input type="text" id="username" name="username" class="form-control" ng-model="user.username" required lowercase />
                    </div>
                    <div class="login-helpers">
                        <a ng-click="open('forgotUsername')">Forgot your User Name?</a>
                    </div>


                    <!-- Password -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <i class="fa fa-lock"></i>
                        <input type="password" id="userPasswordText" name="password" ng-class="isCapsLockOn ? 'iconImage form-control' : 'form-control'" ng-model="user.password" required>
						 <div  id="capsOnMessage" class="caps-lock-alert" ng-show='isCapsLockOn' style="display: none; color: red; margin-top: 10px">Careful! Passwords are case sensitive, and your capslock is on!</div>
                    </div>
                    <div class="login-helpers">
                        <a ng-click="open('forgotPassword')">Forgot your Password?</a>
                    </div>

                    <div class="form-group has-error">
                        <p class="help-block" ng-show="form.pname.$error.required && form.username.$error.required && form.password.$error.required  && submitted">
                        </p>
                        <p class="help-block">{{ errors.other }}</p>
                    </div>

                    <!-- <button type="submit" class="btn btn-lg btn-primary"> Sign in </button> -->
                    <div class="form-actions text-center">
                        <button type="submit" id="submit" class="btn btn-primary">Sign in</button>
                    </div>

                </form>

                </div>
            </div>
        </div>
    </div>

</section>

<script>

function OnMessage (evt)                                    
{	
	displayMessage (evt);
}

function displayMessage(evt) { 
	console.log('prac '+evt.data.practicename);
	console.log('user '+evt.data.username);
	var s='Message received from: ',br='<br>'; 
		if ('domain' in evt) s += 'domain: ' + evt.domain; // Opera pre-v10 
		if ('uri' in evt) s += 'url: ' + evt.uri; // Opera pre-v10 
		if ('origin' in evt) s += evt.origin; // FF,SA,CH, IE8+,OP10+ 
		s += br+'Message Contents: ' + evt.data;  
		
	//document.getElementById('msgDisplay').innerHTML = s;
	document.getElementById('pname').value = evt.data.practicename;
	document.getElementById('username').value = evt.data.username;
	document.getElementById('userPasswordText').value = evt.data.password;
	
	
	$.ajax({
	    url: 'http://localhost:3000/api/session/',
	    type: 'POST',
		data: { username: evt.data.username, password: evt.data.password, practicename: evt.data.practicename },
	    success: function(res) {
			console.log('succeeded');
			
			angular.element(document.getElementById('divLogin')).scope().login(document.getElementById('form'), { username: evt.data.username, password: evt.data.password, pname: evt.data.practicename });
			
			//alert(a);
			 
			 window.location.href="http://localhost:3000/admin/dashboard"			
	    },
		error: function(err) {
			alert(err.responseText);
			//alert('Error logging in. Please check your credentials and make sure you have access to the resource');
			
			//angular.element(document.getElementById('divLogin')).scope().login(document.getElementById('form'), { username: evt.data.username, password: evt.data.password, pname: evt.data.practicename });
			 
			//window.location.href="http://localhost:3000/admin/dashboard"			
	    }
		
	});
	
	
// 	var form={};
// 	form.password=evt.data.password;
// 	form.pname=evt.data.practicename;
// 	form.username=evt.data.username;
// 	form.$valid=true;
// 	console.log(form);

// 	$(document).ready(function () {
// 		//$('#pname').val('shridhar');
// 		$('#pname').attr("ng-model", "shridhar");
// 	})
	

	//$("#submit").click();
// 	var btn = document.getElementById('submit');
// 	btn.addEventListener('click', sendMessage);
	
}

(   window.addEventListener && window.addEventListener('message', OnMessage, false) 
	    || window.attachEvent && window.attachEvent('onmessage', OnMessage) );

//-------------------------------------

//this is used to check caps on or off
$(function() { // Shorthand for $(document).ready(function() {
     
	 $('#userPasswordText').focus(function() { // Define focus handler
            $('#capsOnMessage').show();
      }).blur(function() {
            $('#capsOnMessage').hide();
      });
});
</script>

<style>
.iconImage {
    background:#FFFFFF url(/images/CapsOnImg.png) no-repeat right 3px;
    padding:4px 4px 4px 12px;
}​
</style>

