<div class="section banner">
    <!-- carousel start -->
    <div class="row">
        <div class="carousel-inner">
            <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control class="my-slider">

                <li>
                    <div class="item">
                        <div class="container">
                            <div class="banner-img">
                                <img src="/images/banner-1.png" />
                            </div>
                            <h3 class="banner-title">California Workers' Compensation Made Easy</h3>
                            <p class="banner-content">
                                RateFast is workers' compensation reporting and impairment software. Designed for use by doctors, attorneys, and Claims Administrators.
                            </p>
                            <br />
                            <p>
                                <a class="btn btn-md btn-default" href="/signup">Start Today</a>
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="container">
                            <div class="banner-img">
                                <img src="/images/banner-2.png" />
                            </div>
                            <h3 class="banner-title">California Workers' Compensation Made Easy</h3>
                            <p class="banner-content">
                                No downloads, no subscriptions, no licenses. Cloud-based. Pay as you go. Designed for professionals and businesses who don't have time to waste.
                            </p>
                            <br />
                            <p><a class="btn btn-md btn-default" href="/signup">Start Today</a></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="container">
                            <div class="banner-img">
                                <img src="/images/banner-3.png" />
                            </div>
                            <h3 class="banner-title">California Workers' Compensation Made Easy</h3>
                            <p class="banner-content">
                                Find out how RateFast can benefit you. Contact us at (707) 304-5949 or <a href="mailto:info@rate-fast.com" style="color: white">info@rate-fast.com</a>
                            </p>
                            <br />
                            <p><a class="btn btn-md btn-default" href="/signup">Start Today</a></p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- carousel end -->
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <h3></h3>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="titles"><span class="glyphicon glyphicon-lock" style="color: green;"></span>&nbsp;Attorneys & Claims Administrators</h4>
                    </div>
                    <div class="panel-body text-center">
                        <div class="panel-text" style="min-height: 136px;">
                            <ul>
                                <li>Use RateFast to check the accuracy of QME and PR-4 reports for your workers' compensation claims.</li>
                                <li>Accuracy guaranteed.</li>
                                <li>Enter information about your claim or case, and your impairment rating will be reviewed by our AMA Guides specialists.</li>
                                <li>Contact us to learn more about our process and qualifications.</li>
                            </ul>
                        </div>
                        <!--<p class="text-right read-more"><b><a href="/docfirst">Read more</a></b></p>-->
                        <!--<hr class="breaker" />-->
                        <div class="text-center">
                            <a class="btn btn-md btn-primary" href="/signup">Try For Free &raquo;</a>
                            <a class="btn btn-md btn-primary" href="/contact">Learn More &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="titles"><span class="glyphicon glyphicon-plus" style="color: red;"></span>&nbsp;Medical Providers</h4>
                    </div>
                    <div class="panel-body text-center">
                        <div class="panel-text">
                            <ul>      
                                <li>Streamline work comp claims in your office.</li>      
                                <li>Let the software guide you through every step of the work comp examination.</li>      
                                <li>Write, print, and securely store Doctor's First, PR-2, and PR-4 reports.</li>      
                                <li>Receive bulletproof justfiable impairment ratings for your PR-4 reports.</li>      
                                <li>Give insurers the information they need.</li>      
                                <li>Give your clients the accuracy they deserve.</li>      
                                <li>Contact us to learn more about how RateFast can benefit your medical practice.</li> 
                            </ul>
                        </div>
                        <!--<p class="text-right read-more"><b><a href="/pr2">Read more</a></b></p>-->
                        <!--<hr class="breaker" />-->
                        <div class="text-center">
                            <a class="btn btn-md btn-primary" href="/signup">Try For Free &raquo;</a>
                            <a class="btn btn-md btn-primary" href="/contact">Learn More &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="titles"><span class="glyphicon glyphicon-tint" style="color: orange;"></span>&nbsp;PR-4 Report</h4>
                    </div>
                    <div class="panel-body text-center">
                        <div class="panel-text">
                            A PR4 report is a final summary report that is required by the Division of California Workers' Compensation when a workers' injury results in "residual effects from the injury or may require future medical care"...
                        </div>
                        <p class="text-right read-more"><b><a href="/pr4">Read more</a></b></p>
                        <div class="text-center">
                            <a class="btn btn-md btn-primary" href="/signup">Sign Up &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<hr class="main-hr" />

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="titles"><span class="glyphicon glyphicon-pushpin" style="color: blueviolet;"></span>&nbsp;Testimonials <i class="icon-chevron-right"></i></h4>
                    </div>
                    <!-- Testimonial started -->
                    <div class="panel-body text-center">
                        <blockquote>
                            <!--<div style="float: left; width: 60px;">
                            <img src="../images/ratefast/quotes.gif" />
                        </div>-->
                            <section ng-controller="TestimonialController" ng-init="findRandom()">
                                <div class="col-lg-4-hometest testimonial-front" style="border: 0px solid red;">
                                    <span>{{random.content}}</span><br>
                                    <span>
                                        <p>- {{random.author}}</p>
                                    </span>
                                </div>
                            </section>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="titles"><span class="glyphicon glyphicon-retweet" style="color: cyan;"></span>&nbsp;Tweets</h4>
                    </div>
                    <div class="panel-body text-center">
                        <a class="twitter-timeline" width="342" height="230" href="https://twitter.com/RateFast" data-widget-id="422849581026533376">
                            <h4>Tweets by @RateFast</h4>
                        </a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.provider_btn {
  
    border-radius: 0;
    	margin-bottom: 20px;
		background-color: black;
	    color: white;
	    font-size: 1.9em;
	    height: 76px;
	    margin-top: 30px;
	    padding-bottom: 0.9em;
		padding-left: 0.9em;
		padding-right: 0.9em;
		padding-top: 0.8em;
}

.insurance_btn {
	background-color: black;
	    color: white;
	    font-size: 1.9em;
	    height: 76px;
	    margin-top: 60px;
	    padding: 0.9em;
}
</style>
