<div class="contactus">
  <div class="bright">
    <section id="header-title">
    	<div class="section">
	      	<div class="container">
		       	 <div class="row">	       	 	
		        	 <div class="col-sm-12">	        			
						    <h6 style="font-weight: 600;font-size:2.5em;margin-top: 0px;margin-bottom:10px">
								<span style="font-weight: 800;font-size:1.8em">RateFast </span><br>Workers' comp made simple.
							</h6>
		        	 </div>				
	        	 </div>                  
	        </div> 
        </div>       
    </section>
    <div class="section">
    	<div class="container">
			<div class="row">
				<div class="col-sm-12" style="margin-top: 10px; margin-bottom: 20px">
					<h2 style="font-weight:bold; font-size:24px">Solutions for every workers’ compensation professional.</h2>					
				</div>
			</div>
		</div>
    </div>	
    <div class="section">
    	<!-- Middle 3 box starts here-->
		<div class="container">
			<div class="row">
                <div class="col-sm-4">
                    <div class="blurb">
                        <div class="panel panel-default" style="border: 1px solid #000;border-radius: 0px">
                            <div class="text-center" style="color: #fff;background-color: #0e80c7">
                              <h3 style="margin-top: 0px;color: #fff;padding:16px;font-size:18px; font-weight: bold" class="">&nbsp;Attorneys</h3>
                            </div>
                           <div>
                               <div style="margin-top: -10px"><img style="width: 100%" src="/images/home_attorney.jpg"></div>
                            </div>
                           <div style="margin:20px 20px 20px 20px; font-size:16px">
                               <strong>Confirm the thoroughness of your clients’ records.</strong>                               
                            </div>                           
                            <div class="text-center"><!-- style="margin-top: 65px"-->
                               <a class="btn btn-default provider_btn" type="button" href="/attorneys">Learn More</a>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blurb">
                         <div class="panel panel-default" style="border: 1px solid #000;border-radius: 0px">
                            <div class="text-center" style="color: #fff;background-color: #0e80c7">
                              <h3 style="margin-top: 0px;color: #fff;padding:16px;font-size:18px; font-weight: bold" class="">&nbsp;Providers</h3>
                            </div>
                           <div>
                              <div style="margin-top: -10px"><img style="width: 100%" src="/images/home_providers_new.jpg"></div>
                            </div>
                           <div style="margin:20px 20px 20px 20px; font-size:16px">
                               <strong>Streamline workers' compensation in your hospital or clinic.</strong>
                              <!--<div style="margin-top: 21px"></div>
                               <strong>Receive accurate impairment ratings.</strong>-->
                            </div>
                            <div class="text-center">
                              <a class="btn btn-default provider_btn" type="button" href="/provider">Learn More</a>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blurb">
                      <div class="panel panel-default" style="border: 1px solid #000;border-radius: 0px">
                            <div class="text-center" style="color: #fff;background-color: #0e80c7">
                              <h3 style="margin-top: 0px;color: #fff;padding:16px;font-size:18px; font-weight: bold" class="">&nbsp;Insurance & Payers</h3>
                            </div>
                           <div>
                               <div style="margin-top: -10px"><img style="width: 100%" src="/images/home_insurance.jpg"></div>
                            </div>
                           <div style="margin:20px 20px 20px 20px; font-size:16px">
                               <strong>Close claims quickly and fairly.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                            </div>  
                            <div class="text-center" style="margin-top: 42px"><!-- style="margin-top: 65px"-->
                                <a class="btn btn-default provider_btn" type="button" href="/insurance">Learn More</a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
		</div>
	<!-- Middle 3  box ends here-->
    </div>
    <div class="section">
    	<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6" style="margin-top: 50px; font-weight: 100;font-size:40px">
					<h1 style="font-weight:bold">Pay as you go.</h1>
					<h3>No subscription fees, no licenses.</h3>			
					<h1 style="font-weight: bold; margin-top:40px">Cloud based.</h1>
					<h3>No downloads, no installations. Log in from your favorite device.</h3>
					<h1 style="font-weight: bold; margin-top:40px">Designed by experts.</h1>
					<h3>Receive laser accurate impairment ratings for work-related injuries according to the A.M.A. guides.</h3>
				</div>
				<div class="col-sm-6 col-md-6" style="margin-top: 50px">
						<!-- <img src="/images/home_ratefast_ipad.jpg" style="margin-left:01px;width:540px;"> -->
						<img src="/images/home_ratefast_ipad.jpg" style="margin-left:01px;width:100%">
				</div>
			</div>
		</div>
    </div>
	<div class="section">
		<div class="container text-center">			
			<div style="margin-top: 50px;margin-bottom:60px" class="row">
				<div class="col-sm-6 col-md-6 col-xs-12 col-md-push-1" style="text-align: center !important">
					 <a style="" class="btn btn-default insurance_btn col-md-9 col-xs-12" href="/signup" type="button">
					 Free Trial</a>
				</div>
				<div class="col-sm-6 col-md-6 col-xs-12 text-center">
					<a style="" class="btn btn-default insurance_btn col-md-9 col-xs-12 text-center" href="/contact" type="button">
					 Contact Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-8">
	                <div class="panel panel-default">
	                    <div class="panel-heading text-center">
	                        <h4 class="titles"><span class="glyphicon glyphicon-pushpin" style="color: blueviolet"></span>&nbsp;Testimonials <i class="icon-chevron-right"></i></h4>
	                    </div>
	                    <!-- Testimonial started -->
	                    <div class="panel-body text-center">
	                        <blockquote>
	                            <!--<div style="float: left; width: 60px;">
	                            <img src="../images/ratefast/quotes.gif" />
	                        </div>-->
	                            <section ng-controller="TestimonialController" ng-init="findRandom()">
	                                <div class="col-lg-4-hometest testimonial-front" style="border: 0px solid red">
	                                    <span>{{random.content}}</span><br>
	                                    <span>
	                                        <p>- {{random.author}}</p>
	                                    </span>
	                                </div>
	                            </section>
	                        </blockquote>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-4">
	                <div class="panel panel-default">
	                    <div class="panel-heading text-center">
	                        <h4 class="titles"><span class="glyphicon glyphicon-retweet" style="color: cyan"></span>&nbsp;Tweets</h4>
	                    </div>
	                    <div class="panel-body text-center">
	                        <a class="twitter-timeline" width="342" height="230" href="https://twitter.com/RateFast" data-widget-id="422849581026533376">
	                            <h4>Tweets by @RateFast</h4>
	                        </a>
	                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	</div>
</div>

<style>
.provider_btn {
  
    border-radius: 0;
    	margin-bottom: 20px;
		background-color: black;
	    color: white;
	    font-size: 1.9em;
	    height: 76px;
	    margin-top: 30px;
	    padding-bottom: 0.9em;
		padding-left: 0.9em;
		padding-right: 0.9em;
		padding-top: 0.8em;
}

.insurance_btn {
	background-color: black;
	    color: white;
	    font-size: 1.9em;
	    height: 76px;
	    margin-top: 60px;
	    padding: 0.9em;
}
</style>