<div ng-controller="MriWristLeftRightAddAnotherCtrl">
    <div class="col-sm-12">
        <label class="{{labelclass}}">{{label}}</label>
        <button type="button" ng-click="addControl()" class="btn btn-default btn-circle btn-success">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div ng-repeat="todo in todos.slice().reverse()" class="col-sm-12 checkbox addAnotherBottomBorder" style="padding: 5px;">
        <input type="hidden" ng-model="todo.indexValue" ng-init="todo.indexValue = todos.length - ($index+1)" />
        <div class="col-sm-12">
            <div class="col-sm-1" style="margin-top: 7px; padding-left: 0;">
                <label>Date:</label>
            </div>
            <div class="col-sm-3">
                <input type="tel" ui-date="dateOptions" my-date ng-model="todo.dateOfSurgery" class="form-control" placeholder="MM/DD/YYYY">
            </div>
            <div class="col-sm-1" style="margin-top: 7px;">
                <button type="button" class="btn btn-info btn-xs" ng-click="clearbodypart($index+1,todos.length)"> Clear</button>
            </div>
            <div class="col-sm-6" style="margin-top: 7px;">
                <button type="button" class="btn btn-danger btn-xs" ng-click="deletebodypart($index+1,todos.length)"> Delete</button>
            </div>
            <!------- Normal ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.normal" ng-change="hideAll(['$scope.todos[{{todo.indexValue}}].fracture = false','$scope.todos[{{todo.indexValue}}].arthritis = false','$scope.todos[{{todo.indexValue}}].effusion = false','$scope.todos[{{todo.indexValue}}].avascular = false','$scope.todos[{{todo.indexValue}}].triangular = false','$scope.todos[{{todo.indexValue}}].scapholunate = false','$scope.todos[{{todo.indexValue}}].ganglion = false','$scope.todos[{{todo.indexValue}}].subluxation = false'],todo.normal,'$scope.todos[{{todo.indexValue}}].normal',true)" />
                    &nbsp;Normal</label>
            </div>
            <!------- Fracture ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.fracture" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Fracture</label>
            </div>
            <!------- Arthritis/degenerative joint changes ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.arthritis" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false','$scope.todos[{{todo.indexValue}}].arthritisopts = false'])" />
                    &nbsp;Arthritis/degenerative joint changes</label>
            </div>
            <div class="col-sm-12" ng-if="todo.arthritis">
                <label>
                    <input type="radio" value="Mild" ng-model="todo.arthritisopts" />&nbsp;Mild</label><br />
                <label>
                    <input type="radio" value="Moderate" ng-model="todo.arthritisopts" />&nbsp;Moderate</label><br />
                <label>
                    <input type="radio" value="Severe" ng-model="todo.arthritisopts" />&nbsp;Severe</label>
            </div>
            <!------- Effusion ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.effusion" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Effusion</label>
            </div>
            <!------- Avascular necrosis changes ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.avascular" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Avascular necrosis changes</label>
            </div>
            <!------- Triangular fibrocartilage tear ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.triangular" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Triangular fibrocartilage tear</label>
            </div>
            <!------- Scapholunate ligament injury ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.scapholunate" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Scapholunate ligament injury</label>
            </div>
            <!------- Ganglion cyst ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.ganglion" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Ganglion cyst</label>
            </div>
            <!------- Subluxation/dislocation ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.subluxation" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false'])" />
                    &nbsp;Subluxation/dislocation</label>
            </div>
            <!------- Other ------->
            <div class="col-sm-12">
                <button type="button" class="btn btn-info btn-xs" ng-click="othertexteditorCondition=true">
                    Text
                </button>
                <div class="clearer"></div>
                <div ng-hide="othertexteditorCondition"><span dynamic="todo.othertexteditor" class="textEditorTextColor col-sm-10"></span></div>
                <div class="col-sm-10" ng-if="othertexteditorCondition">
                    <textarea ui-tinymce ng-model="todo.othertexteditor"></textarea>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
