<div class="patient"> <!--data-ng-controller="injuryCtrl"-->
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2 style="text-align: left;">Patient Library</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 well">
                        <div class="col-sm-1 col-sm-offset-4">                            
                            <a href="/patient/createinjury/{{patientId}}">
                                <img src="/images/add-injury.png" alt="Add Injury" title="Add Injury" /></a>
                        </div>
                        <div class="col-sm-4" style="cursor: pointer;">
                            <h3 style="margin-top: 5px;">{{basicinformation.firstname}}  {{basicinformation.middlename}}  {{basicinformation.lastname}}</h3>
                            <h6><b>Born :</b> {{basicinformation.dateofbirth| date:'dd-MMM-yyyy'}}</h6>
                        </div>
                        <div>
                            <div class="text-center">
                                <button type="button" class="glyphicon glyphicon-chevron-right" data-ng-repeat="patientinj in InjuriesDate">
                                    {{patientinj.injurydata.createddate| date:'dd-MMM-yyyy'}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
