    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2 style="text-align: left;">RateFast (PR2)</h2>
                </div>
            </div>
        </section>
        <div class="row">
        	<div class="col-sm-10 col-md-offset-1">
				<h3 align="left"></h3>
				<hr>
				<p>A PR2 report is an interval report required by law to be provided every six week in open and active workers' compensation claims. For the report to be considered accurate it must describe the indication for the revisit, the current status of the injured worker, a pertinent physical exam, and reasoned recommendations for medications, imaging, consultations and/or interventions (i.e. injections, surgery, etc.).</p>
				<p>A well written PR2 report helps move the claim along in an efficient and logical process. A poorly organized report will result in delays of authorization, Utilization Review calls, and possibly prolonged disability.</p>
				<p>RateFast (PR2) removes all the traditional barriers that have frustrated the industry. Formatting the PR2 is now fast, fun and easy with our online program that actually formats the report as you work with the injured worker in the exam room. Report information is gathered using a simple, systematic and easy to use data collection method in the exam room with a hand held mobile device, such as the iPad. The history and exam findings are securely entered and submitted at the time of the patient visit. Reports submitted on RateFast (PR2) are instantly organized and immediately available for download when submitted.</p>
				<p>Spend more time with patients, not your reports.</p>
			</div>
		</div>
	</div>
						