 <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2 style="text-align: left;">RateFast (PR4)</h2>
                </div>
            </div>
        </section>
        <div class="row">
        	<div class="col-sm-10 col-md-offset-1">
				<hr>
				<p>A PR4 report is a final summary report that is required by the Division of California Workers' Compensation when a workers' injury results in "residual effects from the injury or may require future medical care".</p>
				<p>A PR4 report is different from all of the other reports written in the sequence of the claim, because it requires, by law, that an impairment rating be provided using the AMA Guides to the Evaluation of Permanent Impairment (5th Ed.).</p>
				<p>When a PR4 report is incorrectly formatted or rated, it results in a delay of the claim settlement. Payments and medical care to the injured worker are delayed. The employer must also wait, as a determination for return to work with a permanent accommodation cannot be made if functional limitations are not described correctly.</p>
				<p>An incorrect PR4 report also results in the primary treating provider receiving a letter (sometimes multiple letters) to submit corrections or clarifications to the report. An incorrectly written PR4 report can quickly become a time consuming and frustrating exercise for everyone involved.</p>
				<p>The unfortunate result is that many providers avoid or delay writing a PR4 report. Some providers choose to refer their PR4 reports out to consultants, or even the state panel Qualified</p>
				<p>Medical Evaluator system for the report and rating. If this happens the claim is delayed, and the cost of settling the claim instantly and substantially is raised.</p>
				<p>RateFast (PR4) solves all those issues for the primary treater. No longer does the treater need to struggle with the organization and impairment rating of the claim, because our online web application walks the user through it, simple step, by simple step. Best of all, RateFast allows our clinical and legal experts in the AMA Guides to assist in the formatting of a correct and accurate impairment rating.</p>
				<p>Spend more time with patients, not your reports.</p>
			</div>
		</div>
	</div>
</div>