<div class="contactus">
  <div class="bright">
    <section id="header-title">
	    <div class="section">
	      <div class="container">	        
			<div class="row">	       	 	
				 <div class="col-sm-12">	        			
					<h6 style="font-weight: 600;font-size:2.5em;margin-top: 0px;margin-bottom:10px">
						<span style="font-weight: 800;font-size:1.8em">RateFast </span><br>for Medical Providers
					</h6>
				 </div>				
	        </div>
	      </div>
	    </div>
    </section>

	<div class="section">
	  <!--Add code here-->
		<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-xs-12">	
						<h1 style="margin-top: 10px; margin-bottom: 10px;font-weight:bold" >Workplace injuries are painful enough.</h1>
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-6 col-md-6 col-xs-12">
							<ul class="ul_tagLine" style="margin-top: 40px; font-weight: 100;font-size:3.4em;">
								<li>
									<strong>Streamline work comp claims in your office.</strong>								
								</li>
								<li>
									<strong>Give insurers the information they need.</strong>								
								</li>
								<li>
									<strong>Give injured workers the accuracy they deserve.</strong>								
								</li>
								<li>
									<strong>No membership fees: pay as you go.</strong>								
								</li>
								<li>
									<strong>Cloud based: no  download, no installation.</strong>								
								</li>
							</ul>
					</div>
					<div class="col-sm-6 col-md-6 col-xs-12">
						<iframe class="col-sm-12 col-md-12 col-xs-12"   height="315" src="https://www.youtube.com/embed/fHg7m7FS7mE?rel=0" frameborder="0" allowfullscreen></iframe>					
					</div>
			</div>
		</div>
	</div>
  <div class="section">
		<h2 class="text-center" style="margin: 40px 0px 40px 0px; font-weight: 100;font-size:2.8em;"><strong>Write, save, and  print all types of <br/>
		California workers' compensation reports.</strong>
		</h2>
		<!-- Middle 3 box starts here-->
			<div class="container">
				<div class="row">
	                <div class="col-sm-4">
	                    <div class="blurb">
	                        <div class="panel panel-default" style="border: 1px solid #000;border-radius: 0px">
	                            <div class="text-center" style="color: #fff;background-color: #0e80c7;">
	                              <h3 style="margin-top: 0px;color: #fff;padding:16px;font-size:1.8em;" class="">&nbsp;Doctor's First <br>(5021)</h3>
	                            </div>
	                           <div class="panel-content text-center">
	                               <div style="margin:0 auto;border:1px solid #000;width:180px;"><img style="height:200px;width:178px;" src="/images/provider_DFR.png"></div>
	                            </div>
	                           
	                            <div class="text-center">
	                               <a class="btn btn-default  provider_btn" ng-click="gotoDFR()">Learn More</a>
	                            </div>
	                          
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="blurb">
	                         <div class="panel panel-default" style="border: 1px solid #000;border-radius: 0px" >
	                            <div class="text-center" style="color: #fff;background-color: #0e80c7;">
	                              <h3 style="margin-top: 0px;color: #fff;padding:16px;font-size:1.8em;" class="">&nbsp;Primary Treating Physician's<br>Progress Report (PR-2)</h3>
	                            </div>
	                           <div class="panel-content text-center">
	                               <div style="margin:0 auto;border:1px solid #000;width:180px;"><img style="height:200px;width:178px;" src="/images/provider_PR2.png"></div>
	                            </div>
	                           
	                            <div class="text-center">
	                              <a class="btn btn-default  provider_btn" ng-click="gotoPR2()">Learn More</a>
	                            </div>
	                          
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="blurb">
	                      <div class="panel panel-default" style="border: 1px solid #000;border-radius: 0px">
	                            <div class="text-center" style="color: #fff;background-color: #0e80c7;">
	                              <h3 style="margin-top: 0px;color: #fff;padding:16px;font-size:1.8em;" class="">&nbsp;Permanent & Stationary <br>Report (PR-4)</h3>
	                            </div>
	                           <div class="panel-content text-center">
	                               <div style="margin:0 auto;border:1px solid #000;width:180px;"><img style="height:200px;width:178px;" src="/images/provider_PR4.png"></div>
	                            </div>
	                           
	                            <div class="text-center">
	                                <a class="btn btn-default  provider_btn" ng-click="gotoPR4()">Learn More</a>
	                            </div>
	                          
	                        </div>
	                    </div>
	                </div>
	            </div>
			</div>
		<!-- Middle 3  box ends here-->
	</div>
	<div id="dfr" style="margin-bottom:120px"></div>
	 <div class="section">
		<!--DFR section3 code start here-->
		<h2  class="text-center" style="margin: 40px 0px 40px 0px; font-weight: 100;font-size:40px;"><strong>Doctor's First Report (5021)</strong>
		</h2>
		<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6" style="margin-top: 40px; font-weight: 100;font-size:25px;">
						<strong>Opening a work comp claim has never been easier.</strong>						
						<strong>
							<ul class="ul_tagLine">
								<li>
									<strong>Record important information that will be used throughout the life of a workers' compensation claim.</strong>								
								</li>
								<li>
									<strong>RateFast ensures that you collect all the necessary information for a truly complete Doctor's First report.</strong>								
								</li>
								<li>
									<strong>No more dictation or filling out cramped forms; access and print perfectly formatted reports.</strong>								
								</li>
							</ul>
						</strong>
						<strong>Doctor's First are $12.99 per report.</strong>
					</div>
					<div class="col-sm-6 col-md-6" style="margin-top: 40px;">
						<div><iframe class="col-sm-12 col-md-12 col-xs-12"   height="315"  src="https://www.youtube.com/embed/0SO8lYeLHBU?rel=0" frameborder="0" allowfullscreen></iframe></div>
					</div>
				</div>
		</div>
	</div>
	 <div class="section">
		<!--section3 code end here-->
		<div class="container">
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-sm-12 col-md-12 text-center">
						<button class="btn btn-default sample_report_btn"  ng-click="downloadDFR()" >View Sample Report</button>
					</div>					
				</div>
		</div>
	</div>
	<div id="pr2" style="margin-bottom:120px"></div>
	<div class="section">
		<!--PR2 section4 code start here-->
		<h2  class="text-center" style="margin: 40px 0px 40px 0px; font-weight: 100;font-size:40px;"><strong>Primary Treating Physician's<br/>Progress Report (PR-2)</strong>
		</h2>
		<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6" style="margin-top: 40px; font-weight: 100;font-size:25px;">					
						<strong>
							<ul class="ul_tagLine">
								<li>
									<strong>Never write anything twice. Import data about patients and their injuries from prior reports.</strong>								
								</li>
								<li>
									<strong>Collect information with the final PR-4 report and the whole person impairment in mind.</strong>								
								</li>
								<li>
									<strong>RateFast ensures that your PR-2 report is complete.</strong>								
								</li>							
							</ul>
						</strong>
						<strong>PR-2 reports are $7.99 per report.</strong>
					</div>
					<div class="col-sm-6 col-md-6" style="margin-top: 40px;">
						<div><iframe class="col-sm-12 col-md-12 col-xs-12"   height="315"  src="https://www.youtube.com/embed/XISwTFoc23s?rel=0" frameborder="0" allowfullscreen></iframe></div>
					</div>
				</div>
		</div>
		<!--section4 code end here-->
	</div>
	<div class="section">
		<div class="container">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-12 col-md-12 text-center">
					<button class="btn btn-default sample_report_btn"  ng-click="downloadPR2()" >View Sample Report</button>
				</div>
			</div>
		</div>
	</div>
	<div id="pr4" style="margin-bottom:120px"></div>
	<div class="section">
		<!--pr4 section code start here-->
		<h2  class="text-center" style="margin: 40px 0px 40px 0px; font-weight: 100;font-size:40px;"><strong>Permanent & Stationary Report (PR-4)</strong>
		</h2>
		<h4 class="text-center" style="margin: 40px 0px 40px 0px; font-weight: 100;font-size:25px;"><strong>Tired of digging through the AMA Guides? RateFast PR-4<br/> reports include laser accurate impairment ratings!</strong>
		</h4>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6" style="margin-top: 40px; font-weight: 100;font-size:25px;">					
					<strong>
						<ul class="ul_tagLine">
							<li>
								<strong>Swiftly conclude a work injury claim with  PR-4 reports.</strong>								
							</li>
							<li>
								<strong>Ask all the right questions: the RateFast PR-4 report prompts doctors to take all  necessary measurements.</strong>								
							</li>
							<li>
								<strong>Submit your PR-4 report for rating and you will receive a truly accurate whole-person impairment rating within 3 days.</strong>								
							</li>
							
						</ul>
					</strong>
					<strong>PR-4 reports are $129.99 per report.</strong>
				</div>
				<div class="col-sm-6 col-md-6" style="margin-top: 40px;">
					<div><iframe class="col-sm-12 col-md-12 col-xs-12"   height="315"  src="https://www.youtube.com/embed/l3x1TstUtwA?rel=0" frameborder="0" allowfullscreen></iframe></div>
				</div>
			</div>
		</div>
		<!--section5 code end here-->
	</div>
	<div class="section">
		<div class="container">
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-sm-12 col-md-12 col-xs-12 text-center">
						<button class="btn btn-default sample_report_btn"  ng-click="downloadPR4()" >View Sample Report</button>
					</div>
				</div>
		</div>
	</div>
  </div>
</div>


<style>
	.sample_report_btn{
		background-color: black;
	    color: white;
	    font-size: 1.9em;
	    height: 76px;
	    margin-top: 60px;
	    padding: 0.9em;
	}
	.provider_btn {
	    background-color: black;
	    border-radius: 0;
	    color: white;
	    font-size: 1.9em;
	    height: 59px;
	    margin-bottom: 20px;
	    width: 208px;
		padding-top: 10px;
	}
		.ol_tagLine li{
		margin-top: 20px;
		}
		
		.ul_tagLine li{
			font-size:18px;
			margin-top: 10px;
			padding-bottom: 12px;
		}
		
		.ul_tagLine > :first-child{
		margin-top: 10px;
		}
		
		.ul_tagLine > :last-child {	
		margin-bottom: 30px;
		}
</style>
