<div class="modal-header">
    <h3>Ratefast</h3>
</div>
<div class="modal-body">
	<p>By clicking "Agree" below, the User agrees and understands the following:</p>
	
	<p>RateFast is an impairment report writing tool and is not a substitute for or replacement of a medical provider's opinion, nor should the report be adopted as a medical provider's opinion. RateFast should not be used as an EMR (Electronic Medical Record) system.</p>
	<p>RateFast assumes the accuracy of the information provided by the User and analyzes its completeness. Alchemy Logic Systems, Inc. disclaims any responsibility for the User's failure to enter accurate and complete information.</p>
	
	<p>For security and patient privacy, do not enter any information that could personally identify your patient into the RateFast text fields.</p>
	
	<p>Use of RateFast is at the User's own risk. Alchemy Logic Systems, Inc. disclaims any liability for lost data, malfunctions, security or confidentiality claims related to the internet connection or transmission route to the RateFast web site.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Agree</button>
    <button class="btn btn-primary" ng-click="close()">Cancel</button>
</div>
