<div class="sample">
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2>Sample Reports</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4 class="titles">Doctor's First [5021]</h4>
                        </div>
                        <div class="panel-body text-center">
                            A Doctor's First Report (Form 5021) is first injury summary report that is required by the Division of California Workers' Compensation when a worker's compensation claim presents to the medical provider's office...<b><a href="#/docfirst">Read more</a></b>
                            <hr />
                            <button class="btn btn-lg btn-primary btn-block" href="#">View All &raquo;</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4 class="titles">PR-2 Report</h4>
                        </div>
                        <div class="panel-body text-center">
                            A PR2 report is an interval report required by law to be provided every six week in open and active workers' compensation claims. For the report to be considered accurate it must describe the indication for...<b><a href="#/pr2">Read more</a></b>
                            <hr />
                            <button class="btn btn-lg btn-primary btn-block" href="#">View All &raquo;</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4 class="titles">PR-4 Report</h4>
                        </div>
                        <div class="panel-body text-center">
                            A PR4 report is a final summary report that is required by the Division of California Workers' Compensation when a workers' injury results in "residual effects from the injury or may require future medical care"  ...<b><a href="#/pr4">Read more</a></b>
                            <hr />
                            <button class="btn btn-lg btn-primary btn-block" href="">View All &raquo;</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
