<div class="faq">
    <div class="bright">
        <section id="header-title">
            <div class="container">
                <div class="row">
                    <h2>Security</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">                    
					<div>                        
                        <div class="panel">
                            <!--<h3>&nbsp;</h3>-->
                            <div>
                                <p>Your patients’ privacy is important to us. Here are some of the security measures we take in order to protect your data:<br/>
								<ul>
									<li>Your data is transferred and saved using industry standard encryption protocols.</li>
									<li>The RateFast application handles and stores your data using the leading cloud service providers <a href="https://azure.microsoft.com/"  target="_blank">Microsoft Azure</a> and <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services (AWS).</a></li>
									<li>We only disclose PHI during the course of providing services to you or as required by law.</li>
									<li>We guard against unauthorized use or disclosure of PHI using no less than a reasonable amount of care.</li>
									<li>We report any breach or unauthorized disclosure of data.</li>
									<li>Our Compliance Officer is responsible for creating and implementing our <a href="http://www.hhs.gov/hipaa/" target="_blank">HIPAA (Health Insurance Portability and Accountability Act),</a> policies and procedures.</li>
									<li>All employees, contractors, partners, and other associates receive training on our policies and procedures according to HIPAA's mandates.</li>
									<li>We provide RateFast customers with business associate agreements on request.</li>									
								</ul>	
								<a href="/contact" target="_blank">Contact us</a> with your security related questions.								
								</p>
                            </div>
                        </div>                        
                    </div>
                    <div id="push"></div>
                </div>
            </div>
        </div>
    </div>
</div>
