<div class="bright"> <!--data-ng-controller="PatientCtrl"-->
    <section id="header-title">
        <div class="container">
            <div class="row">
                <h2 style="text-align: left;">Select State</h2>
            </div>
        </div>
    </section>
    <!----    Select State    ---->
    <section>
        <div class="container" >
            <div class="row">
                <div class="gt-map-default">
                    <gt-map ng-model="selectedState" ng-click="mapClick()"></gt-map>
                </div>
            </div>
        </div>
    </section>
</div>
