<div ng-controller="SurgeryInjuryShoulderAddAnotherCtrl">
    <label>Surgery for this injury - </label>
    <label ng-bind="bodypartname.bodysystem == 'Other' ? bodypartname.bdsystemother : bodypartname.bodysystem | capitalize"></label>
    -
    <label ng-bind="bodypartname.text == 'Other' ? bodypartname.bdpartother : bodypartname.text | capitalize"></label>
    <label ng-if="bodypartname.bdsides && (bodypartname.bdsides != 'none' && bodypartname.bdsides != 'n/a')">- {{bodypartname.bdsides | capitalize}}</label>
    <button type="button" ng-click="addTodos()" class="btn btn-default btn-circle btn-success">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div ng-repeat="todo in todos.slice().reverse()" class="col-sm-12 addAnotherBottomBorder" style="padding: 5px;">
        <input type="hidden" ng-model="todo.indexValue" ng-init="todo.indexValue = todos.length - ($index+1)" />
        <div class="col-sm-12">
            <div class="col-sm-3 checkbox">
                <label>Date of Surgery: </label>
            </div>
            <div class="col-sm-3">
                <input type="tel" ui-date="dateOptions" my-date ng-model="todo.dateOfSurgery" class="form-control" placeholder="MM/DD/YYYY">
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-info btn-xs" ng-click="clearbodypart($index+1,todos.length)"> Clear</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-danger btn-xs" ng-click="deletebodypart($index+1,todos.length)"> Delete</button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-10 checkbox">
                <label>
                    <br />
                    Surgeon Name and Procedure: </label>
                    <button type="button" class="btn btn-info btn-xs" ng-click="surgeonNameShow=true">Text</button>
            </div>
        </div>
        <div class="col-sm-12" >
            <div ng-hide="surgeonNameShow"><span dynamic="todo.surgeonName" class="textEditorTextColor col-sm-12"></span></div>
                        
            <div class="col-sm-10" ng-if="surgeonNameShow">
                <textarea ui-tinymce="tinymceOptions" ng-model="todo.surgeonName"></textarea>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-7 margin-left-1 checkbox">
                <br />
                <label><input type="radio" ng-model="todo.arthoscopicOpenRadio" value="Arthoscopic" />&nbsp;Arthoscopic</label>
                <label><input type="radio" ng-model="todo.arthoscopicOpenRadio" value="Open" />&nbsp;Open</label>
            </div>
        </div>
        <div class="col-sm-12 margin-left-2 checkbox" ng-if="todo.arthoscopicOpenRadio">
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.subacromialDecompression" ng-true-value="Subacromial decompression" />&nbsp;Subacromial decompression</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.labralDebridement" ng-true-value="Labral debridement" />&nbsp;Labral debridement</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.claviculoplasty" ng-true-value="Claviculoplasty" />&nbsp;Claviculoplasty</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.totalShoulderPlasty" ng-true-value="Total shoulder plasty" />&nbsp;Total shoulder plasty</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.capsularRelease" ng-true-value="Capsular release" />&nbsp;Capsular release</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.rotatorCuffRepair" ng-true-value="Rotator cuff repair" />&nbsp;Rotator cuff repair</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox" ng-model="todo.rotatorCuffDebridement" ng-true-value="Rotator cuff debridement" />&nbsp;Rotator cuff debridement</label>
            </div>
            <div class="col-sm-7">
                <label><input type="checkbox"ng-model="todo.hardwarePlacementProsthesis" ng-true-value="Hardware placement/prosthesis" />&nbsp;Hardware placement/prosthesis</label>
            </div>
            <div class="col-sm-12" ng-if="todo.hardwarePlacementProsthesis">
                <button type="button" class="btn btn-info btn-xs" ng-click="hardwarePlacementProsthesisTextShow=true">Text</button>
                <div class="col-sm-12">
                    <div ng-hide="hardwarePlacementProsthesisTextShow"><span dynamic="todo.hardwarePlacementProsthesisText" class="textEditorTextColor col-sm-10"></span></div>
                    <div class="col-sm-10" ng-if="hardwarePlacementProsthesisTextShow">
                        <textarea ui-tinymce="tinymceOptions" ng-model="todo.hardwarePlacementProsthesisText"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-info btn-xs" ng-click="arthopenOtherShow=true">
                    Text
                </button>
            </div>
            <div ng-hide="arthopenOtherShow"><span dynamic="todo.arthopenOtherText" class="textEditorTextColor col-sm-10"></span></div>
            <div class="col-sm-10" ng-if="arthopenOtherShow">
                <textarea ui-tinymce="tinymceOptions" ng-model="todo.arthopenOtherText"></textarea>
            </div>
        </div>
        <hr>
    </div>
</div>
