<div ng-controller="XrayToeLeftRightAddAnotherCtrl">
    <div class="col-sm-12">
        <label class="{{labelclass}}">{{label}}</label>
        <button type="button" ng-click="addControl()" class="btn btn-default btn-circle btn-success">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div ng-repeat="todo in todos.slice().reverse()" class="col-sm-12 checkbox addAnotherBottomBorder" style="padding: 5px;">
        <input type="hidden" ng-model="todo.indexValue" ng-init="todo.indexValue = todos.length - ($index+1)" />
        <div class="col-sm-12">
            <div class="col-sm-1" style="margin-top: 7px; padding-left: 0;">
                <label>Date:</label>
            </div>
            <div class="col-sm-3">
                <input type="tel" ui-date="dateOptions" my-date ng-model="todo.dateOfSurgery" class="form-control" placeholder="MM/DD/YYYY">
            </div>
            <div class="col-sm-1" style="margin-top: 7px;">
                <button type="button" class="btn btn-info btn-xs" ng-click="clearbodypart($index+1,todos.length)"> Clear</button>
            </div>
            <div class="col-sm-6" style="margin-top: 7px;">
                <button type="button" class="btn btn-danger btn-xs" ng-click="deletebodypart($index+1,todos.length)"> Delete</button>
            </div>
            <!------- Normal ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.normal" ng-change="hideAll(['$scope.todos[{{todo.indexValue}}].fracture = false',
                        '$scope.todos[{{todo.indexValue}}].arthritis = false','$scope.todos[{{todo.indexValue}}].amputation = false'],todo.normal,'$scope.todos[{{todo.indexValue}}].normal',true)"/>
                    &nbsp;Normal</label>
            </div>
            <!------- Fracture ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.fracture" ng-change="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false','$scope.todos[{{todo.indexValue}}].metatarsalweight = false','$scope.todos[{{todo.indexValue}}].metatarsalmetatarsalgia = false','$scope.todos[{{todo.indexValue}}].firstmetatarsal = false','$scope.todos[{{todo.indexValue}}].fifthmetatarsal = false','$scope.todos[{{todo.indexValue}}].othermetatarsal = false', '$scope.todos[{{todo.indexValue}}].plantarfirstmetatarsal = false','$scope.todos[{{todo.indexValue}}].plantarfifthmetatarsal = false','$scope.todos[{{todo.indexValue}}].plantarothermetatarsal = false'],todo.fracture,'$scope.todos[{{todo.indexValue}}].fracture')" />
                    &nbsp;Fracture</label>
            </div>
            <div class="col-sm-12" ng-if="todo.fracture">
                <div class="col-sm-12">
                    <label>
                        <input type="checkbox" ng-model="todo.metatarsalweight" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].firstmetatarsal = false','$scope.todos[{{todo.indexValue}}].fifthmetatarsal = false','$scope.todos[{{todo.indexValue}}].othermetatarsal = false'])" />
                        &nbsp;Metatarsal fracture (with clinical loss of weight transfer)</label>
                </div>
                <div class="col-sm-12 margin-left-1" ng-if="todo.metatarsalweight">
                    <label>
                        <input type="checkbox" ng-model="todo.firstmetatarsal" />
                        &nbsp;First Metatarsal</label><br />
                    <label>
                        <input type="checkbox" ng-model="todo.fifthmetatarsal" />
                        &nbsp;Fifth Metatarsal</label><br />
                    <label>
                        <input type="checkbox" ng-model="todo.othermetatarsal" />
                        &nbsp;Other Metatarsal</label>
                </div>
                <div class="col-sm-12">
                    <label>
                        <input type="checkbox" ng-model="todo.metatarsalmetatarsalgia" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].plantarfirstmetatarsal = false','$scope.todos[{{todo.indexValue}}].plantarfifthmetatarsal = false','$scope.todos[{{todo.indexValue}}].plantarothermetatarsal = false'])" />
                        &nbsp;Metatarsal fracture with plantar angulation (with clinical metatarsalgia)</label>
                </div>
                <div class="col-sm-12 margin-left-1" ng-if="todo.metatarsalmetatarsalgia">
                    <label>
                        <input type="checkbox" ng-model="todo.plantarfirstmetatarsal" />
                        &nbsp;First Metatarsal</label><br />
                    <label>
                        <input type="checkbox" ng-model="todo.plantarfifthmetatarsal" />
                        &nbsp;Fifth Metatarsal</label><br />
                    <label>
                        <input type="checkbox" ng-model="todo.plantarothermetatarsal" />
                        &nbsp;Other Metatarsal</label>
                </div>
            </div>
            <!------- Arthritis/degenerative joint changes ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.arthritis" ng-change="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false','$scope.todos[{{todo.indexValue}}].firstcartilage = false','$scope.todos[{{todo.indexValue}}].othermetatarsophalangeal = false','$scope.todos[{{todo.indexValue}}].firstcartilageopts = \'\'','$scope.todos[{{todo.indexValue}}].othermetatarsophalangealopts = \'\'' ],todo.arthritis,'$scope.todos[{{todo.indexValue}}].arthritis')" />
                    &nbsp;Arthritis/degenerative joint changes</label>
            </div>
            <div class="col-sm-12" ng-if="todo.arthritis">
                <div class="col-sm-12">
                    <label>
                        <input type="checkbox" ng-model="todo.firstcartilage" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].firstcartilageopts = \'\''])" />
                        &nbsp;First Metatarsophalangeal joint space cartilage interval</label>
                </div>
                <div class="col-sm-12" ng-if="todo.firstcartilage">
                    <select ng-model="todo.firstcartilageopts" class="form-control" style="width: 150px;">
                        <option value="">Choose</option>
                        <option value="≥ 2 mm">≥ 2 mm</option>
                        <option value="1 mm">1 mm</option>
                        <option value="0 mm">0 mm</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label>
                        <input type="checkbox" ng-model="todo.othermetatarsophalangeal" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].othermetatarsophalangealopts = \'\''])" />
                        &nbsp;Other Metatarsophalangeal</label>
                </div>
                <div class="col-sm-12" ng-if="todo.othermetatarsophalangeal">
                    <select ng-model="todo.othermetatarsophalangealopts" class="form-control" style="width: 150px;">
                        <option value="">Choose</option>
                        <option value="≥ 2 mm">≥ 2 mm</option>
                        <option value="1 mm">1 mm</option>
                        <option value="0 mm">0 mm</option>
                    </select>
                </div>
            </div>
            <!------- Amputation ------->
            <div class="col-sm-12">
                <label>
                    <input type="checkbox" ng-model="todo.amputation" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].normal = false','$scope.todos[{{todo.indexValue}}].amputationfirst = false', '$scope.todos[{{todo.indexValue}}].amputationsecond = false', '$scope.todos[{{todo.indexValue}}].amputationthird = false', '$scope.todos[{{todo.indexValue}}].amputationfourth = false', '$scope.todos[{{todo.indexValue}}].amputationfifth = false', '$scope.todos[{{todo.indexValue}}].amputationfirstopts = false', '$scope.todos[{{todo.indexValue}}].amputationsecondopts = false', '$scope.todos[{{todo.indexValue}}].amputationthirdopts = false', '$scope.todos[{{todo.indexValue}}].amputationfourthopts = false', '$scope.todos[{{todo.indexValue}}].amputationfifthopts = false'])" />
                    &nbsp;Amputation</label>
            </div>
            <div class="col-sm-12" ng-if="todo.amputation">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <label>
                            <input type="checkbox" ng-model="todo.amputationfirst" ng-change="todo.AmputationfirsttextA=''" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].amputationfirstopts = false'])" />
                            &nbsp;First</label>
                    </div>
                    <div class="col-sm-12" ng-if="todo.amputationfirst">
                        <label>
                            <input type="radio" value="Metatarsal" ng-model="todo.amputationfirstopts" />&nbsp;Metatarsal</label><br />
                        <label>
                            <input type="radio" value="MTP joint" ng-model="todo.amputationfirstopts" />&nbsp;MTP joint
                        </label><br />
                        <label>
                            <input type="radio" value="IP joint" ng-model="todo.amputationfirstopts" />&nbsp;IP joint
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <label>
                            <input type="checkbox" ng-model="todo.amputationsecond" ng-change="todo.AmputationsecondtextA=''" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].amputationsecondopts = false'])" />
                            &nbsp;Second</label>
                    </div>
                    <div class="col-sm-12" ng-if="todo.amputationsecond">
                        <label>
                            <input type="radio" value="Metatarsal" ng-model="todo.amputationsecondopts" />&nbsp;Metatarsal</label><br />
                        <label>
                            <input type="radio" value="MTP joint" ng-model="todo.amputationsecondopts" />&nbsp;MTP joint</label>
                        <label><br />
                    </div>
                    <div class="col-sm-12">
                        <label>
                            <input type="checkbox" ng-model="todo.amputationthird" ng-change="todo.AmputationthirdtextA=''" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].amputationthirdopts = false'])" />
                            &nbsp;Third</label>
                    </div>
                    <div class="col-sm-12" ng-if="todo.amputationthird">
                        <label>
                            <input type="radio" value="Metatarsal" ng-model="todo.amputationthirdopts" />&nbsp;Metatarsal</label><br />
                        <label>
                            <input type="radio" value="MTP joint" ng-model="todo.amputationthirdopts" />&nbsp;MTP joint</label>
                        <label><br />
                    </div>
                    <div class="col-sm-12">
                        <label>
                            <input type="checkbox" ng-model="todo.amputationfourth" ng-change="todo.AmputationfourthtextA=''" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].amputationfourthopts = false'])" />
                            &nbsp;Fourth</label>
                    </div>
                    <div class="col-sm-12" ng-if="todo.amputationfourth">
                        <label>
                            <input type="radio" value="Metatarsal" ng-model="todo.amputationfourthopts" />&nbsp;Metatarsal</label><br />
                        <label>
                            <input type="radio" value="MTP joint" ng-model="todo.amputationfourthopts" />&nbsp;MTP joint</label>
                        <label><br />
                    </div>
                    <div class="col-sm-12">
                        <label>
                            <input type="checkbox" ng-model="todo.amputationfifth" ng-change="todo.AmputationfifthtextA=''" ng-click="hideAll(['$scope.todos[{{todo.indexValue}}].amputationfifthopts = false'])" />
                            &nbsp;Fifth</label>
                    </div>
                    <div class="col-sm-12" ng-if="todo.amputationfifth">
                        <label>
                            <input type="radio" value="Metatarsal" ng-model="todo.amputationfifthopts" />&nbsp;Metatarsal</label><br />
                        <label>
                            <input type="radio" value="MTP joint" ng-model="todo.amputationfifthopts" />&nbsp;MTP joint</label>
                        <label><br />
                    </div>
                </div>
            </div>
            <!------- Other ------->
            <div class="col-sm-12">
                <button type="button" class="btn btn-info btn-xs" ng-click="othertexteditorCondition=true">
                    Text
                </button>
                <div class="clearer"></div>
                <div ng-hide="othertexteditorCondition"><span dynamic="todo.othertexteditor" class="textEditorTextColor col-sm-10"></span></div>
                <div class="col-sm-10" ng-if="othertexteditorCondition">
                    <textarea ui-tinymce ng-model="todo.othertexteditor"></textarea>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
